
     <div class="items"[routerLink]="['/viewmore',producto.id]" >  
      <div class="i-fondo"><i id="fav" class=" iconos far fa-heart" (click)=saveToFav()></i></div>
      <div class="img-fondo"><img src="../../../../../assets/imagenes/celu.jpg" alt="." ></div>
      <h3>{{producto.nombre}}</h3>
      <div class="cont-precios">
      <span>${{producto.precio + 600}}</span> 
      <p class="precio">${{producto.precio}}</p>
    </div>
      <!-- <button class="botones" (click)="addCart(producto)">Ver Más</button> -->
    <a [routerLink]="['/viewmore',producto.id]" ><button class="botones"  >Ver más</button> </a>
  </div>
