<section>
    <div id="lateralMenu" (mouseover)="showLateralMenu()" (mouseout)="hiddeLateralMenu()">
        <!-- <i class="fas fa-angle-down boton"></i> -->
        <div class="lateral-container" id="lateral-container" >
            <ul class="userOptions" >
                <li><i class="fas fa-shopping-bag"></i>Compras</li>
                <li><i class="fas fa-heart"></i> Favoritos </li>
                <li><i class="fas fa-sign-out-alt"></i>Cerrar Sesión </li>
            </ul>
        </div>
    </div>
    <div class="container-myprofile">
        <div class="frame">
            <div class="title">
                <h2>Mis Datos</h2>
                <button id="save">Guardar</button>
            </div>
            <article class="personalInformation">
                <div class="item-information">
                    <p>Nombre: </p> <span> Juan</span> <i class="far fa-edit"></i>
                </div>
                <div class="item-information">
                    <p> Apellido:</p> <span>Perez</span> <i class="far fa-edit"></i>
                </div>
                <div class="item-information">
                    <p>E-mail: </p> <span>juanperez@hotmail.com</span> <i class="far fa-edit"></i>
                </div>
                <div class="item-information">
                    <p> Teléfono:</p> <span>351 6598742</span> <i class="far fa-edit"></i>
                </div>
                <div class="item-information">
                    <p> Contraseña:</p> <span>*********</span> <i class="far fa-edit"></i>
                </div>
            </article>

            <div class="title2">
                <h2>Mis Tarjetas</h2>
            </div>
            <article class="cards">
                <div class="card">
                    <img src="../../../assets/imagenes/master.png" alt="">
                    <div>
                        <p>Terminada en 256</p>
                        <p>Master</p>
                        <p>Vencimiento 12/26</p>
                    </div>
                    <p id="delete">Eliminar</p>
                </div>
                <div class="card">
                    <img src="../../../assets/imagenes/master.png" alt="">
                    <div>
                        <p>Terminada en 256</p>
                        <p>Master</p>
                        <p>Vencimiento 12/26</p>
                    </div>
                    <p id="delete">Eliminar</p>
                </div>
                <div class="card">
                    <img src="../../../assets/imagenes/master.png" alt="">
                    <div>
                        <p>Terminada en 256</p>
                        <p>Master</p>
                        <p>Vencimiento 12/26</p>
                    </div>
                    <p id="delete">Eliminar</p>
                </div>
        </article>
      </div>
    </div>



</section>
<div class="bg-menu" id="bg-menu" ></div>