
$fte-ppal: 'Poppins', sans-serif;
$fte-sec: 'Open Sans', sans-serif;
$color-ppal:#fff;
 $color-sec: rgb(87, 83, 83);
 $color-ter: rgb(172, 165, 165);
 $color-menues: rgb(243, 236, 236);

%prop-bg-img{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#contenedor-vermas{
    display: flex;
    flex-direction: column;
        justify-content: center;
        margin-bottom: 8vh;
        .routes{
            margin-left: 30px;
            margin-top: 5px;
            p{
                a{
                    text-decoration: none;
                    font-family: $fte-sec;
                    font-size: 14px;
                } 
            }
        }       
       
    section{
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .contenedor-uno{
            display: flex;
            justify-content: space-between;
            padding: 0px 15px 0px 15px;
            width: 86vw;
            #izquierda{
                display: flex;
                justify-content: space-around;
                width: 50vw;
              
                #img-sec{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                    align-items: center;
                    div{
                        width: 50px;
                        height: 50px;
                        box-sizing: border-box;
                        @extend %prop-bg-img;
                        &:hover{
                            border: 2px solid $color-sec;
                            box-shadow: 1px 2px 1px rgb(151, 147, 147);
                        }
                    }
                    #img-uno{
                        background-image: url(https://d26lpennugtm8s.cloudfront.net/stores/086/894/products/img-20200518-wa00101-9587272a3a2cc19c4715898271067988-1024-1024.jpg);
                    
                    }
                    #img-dos{
                        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQrVkIGh9jsHdgQi8RYojCJmVbWcvktrY4wWA&usqp=CAU);
                    }
                    #img-tres{
                        background-image: url(https://www.aquadelta.com.ar/img/articulos/termo_stanley_classic_750_ml_polar_blanco_1_imagen2.jpg);
                    }
                    #img-cuatro{
                        background-image: url(https://d2ye0ltusw47tz.cloudfront.net/196572-large_default/termo-stanley-clasico-14-lts-plegable-rojo-10-08999-007.jpg);
                        
                    }
                    #img-cinco{
                        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQrVkIGh9jsHdgQi8RYojCJmVbWcvktrY4wWA&usqp=CAU);
                    }
                    #img-seis{
                        background-image: url(https://www.aquadelta.com.ar/img/articulos/termo_stanley_classic_750_ml_polar_blanco_1_imagen2.jpg);
                    }
                }
                #img-ppal{
                    width:45vw;
                    height: 470px;
                    background-image: url(https://d26lpennugtm8s.cloudfront.net/stores/086/894/products/img-20200518-wa00101-9587272a3a2cc19c4715898271067988-1024-1024.jpg);
                    @extend %prop-bg-img;
                }
            }
            #derecha{
                border: none;
                border-radius: 15px;
                margin-left: 3vw;
                width: 28vw;
                position: relative;
                #caja-titulo{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    padding-right: 5px;
                    margin-bottom: 15px;
                    margin-top: 7px;
                    h2{
                        font-size: 33px;
                        font-family: $fte-ppal;
                        text-transform: uppercase;
                        width: 20vw;
                        font-weight: bolder;
                        color: $color-sec;
                    }
                    div{
                        display: flex;
                        justify-content: space-between;
                        width:5vw ;
                        align-items: center;
                        a{
                         text-decoration: none;
                            
                            i{
                                font-size: 1.4em;
                                color: $color-sec;
                                &:hover{
                                    font-size: 1.6em;
                                }
                            }
                        }
                        
                    }
                }
                #caja-precio{
                    display: flex;                   
                    h3{
                        font-family: $fte-sec;
                        font-weight: normal;
                        font-size: 40px;
                        margin-bottom: 25px;
                        color: $color-sec;
                    }
                    .oferta{
                        margin-left: 10px;
                        span{
                            font-family: $fte-sec;
                            text-decoration: line-through;
                            color: $color-sec;
                            color: rgb(187, 24, 24);
                            margin-left: auto;
                            margin-right: auto;
                        }
                        p{
                            display: block;
                            background-color: rgb(187, 24, 24);
                            color: white;
                            font-family: $fte-sec;
                            padding: 1px 6px;
                            font-size: 14px;
                            text-align: center;
                            margin-left: auto;
                            box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.719);
                        }
                    }
                }
                #caja-carrito{
                    margin-top: 25px;
                    display: flex;
                    flex-direction: column;
                    .color-quantity{
                        display: flex;
                        justify-content: space-around;
                        width: 100%;
                        margin-left: auto;
                        margin-right: auto;
                        .modify-quantity{
                            border: none;
                            border-radius: 5px;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            width: 25%;
                            i{
                                color: $color-sec;
                                font-size: 1em;
                            }
                            .fa-minus-circle{
                                &:hover{
                                    font-size: 1.1em;
                                    cursor: pointer;
                                   
                                }
                            }
                            .fa-plus-circle{
                                &:hover{
                                    font-size: 1.1em;
                                    cursor: pointer;
                                }
                            }
                            .item-quantity{
                                font-weight: bold;
                                font-family: $fte-ppal;
                                font-size: 17px;
                            }
                        }
                        #color{
                            width: 120px;
                            height: 30px;
                            font-family: $fte-sec;
                            font-size: 17px;
                            text-align: center;
                            font-weight: bold;
                            border: 1px solid $color-ter;
                            border-radius: 5px;
                            outline: none;
                            padding-left: 10px;
                            &:focus{
                                outline: none;
                            }
                        }
                    }
                    .talles{
                        display: flex;
                        justify-content: space-around;
                        width: 90%;
                        margin-top: 25px;
                        align-items: center;
                        div{
                            input{
                                margin-right: 5px;
                            }
                            label{
                                font-family: $fte-sec;
                            }
                        }
                        
                    }
                    p{
                        font-family: $fte-sec;
                        font-style: italic;
                        color: $color-ter;
                        display: block;
                        margin-top: -13px;
                        font-size: 13px;
                    

                    }
                    .btn{
                        background-color: $color-sec;
                        color: white;
                        font-family: $fte-ppal;
                        text-transform: uppercase;
                        font-size: 18px;
                        border: 0px ;
                        padding: 8px 15px;
                        align-self: center;
                        box-sizing: border-box;
                        width: 100%;
                        border-radius: 0px;                        
                        &:hover{
                            transform: scale(1.03);
                        }
                    }
                    #btn-carrito{
                        margin-bottom: 10px;
                    }
                    #btn-comprar{
                        margin-bottom: 15px;
                    }
                }
            }
        }
        .contenedor-dos{
            width:83vw ;
            display: flex;
            flex-direction: column;
            margin-top: 5px;
            
            #datos{
                display: flex;
                justify-content: space-around;
                border-bottom: 1px solid $color-ter;
                padding-bottom: 8px;
            
                p{
                    font-size: 16px;
                    font-family: $fte-sec;
                    color: $color-sec;
                    display: block;
                    
                }
            }
            #descripcion-producto{
            
                width: 68vw;
                align-self: center;
                padding-top: 35px;
                padding-bottom: 80px;
                h3{
                    font-family: $fte-ppal;
                    text-transform: uppercase;
                    font-size:21px ;
                    margin-bottom: 15px;
                    color: $color-sec;
                }
                p{
                    font-size: 15px;
                    font-family: $fte-sec;
                    line-height: 25px; 
                    color: $color-ter;
                }
            }

        }
        .contenedor-tres{
            font-family: $fte-ppal;
            display: grid;
                grid-template-columns: 80% 20%;
                grid-template-rows: 1fr 3fr 1fr;
                grid-template-areas: "titulo titulo"
                                    "mensaje cartel"
                                    "mensaje enviar";
                height: 270px;
                margin-bottom: 50px;
                width: 65%;
                margin-top: 25px;
            #titulo-a{
                opacity: 0;
                font-size: 22px;
                padding-bottom: 20px;
                grid-area: titulo;
                color: $color-sec;
                font-family: $fte-sec;
            }

            #pregunta{
                grid-area: mensaje;
                width: 93%;
                outline: none;
                border: 1px solid $color-sec;
                border-radius: 30px 30px 0 30px;
                padding: 15px 10px;
                font-family: $fte-sec;
                font-size: 16px;
                &:focus{
                    border: 2px solid $color-sec;
                }
            }
            div{
                grid-area: cartel;
                background: linear-gradient(to bottom,white,$color-menues);
                height: fit-content;
                padding: 10px 15px;
                border-radius: 10px;
                #cartel{
                    font-size: 16px;
                    text-align: center;
                    padding-bottom: 0;
                   color: $color-sec;
                    font-family: $fte-sec;
                }
                }
            button{
                grid-area: enviar;
                background-color: white;
                outline: none;
                border: 2px solid $color-sec;
                border-radius: 8px 8px 8px 0;
                box-shadow: 1px 1px 1px grey;
                &:hover{
                    transform: scale(1.05);
                    box-shadow: 1px 2px 1px grey;
                    cursor: pointer;
                }
                
                i{
                    color: $color-sec;
                    font-size: 1.6em;
                    
                }
                }                    
        

        }
    }
    
}
.animacion-titulo{
    animation-name: questions;
     animation-duration: 1s;
     animation-timing-function: (cubic-bezier(.12,1.14,.62,1.33));
    
}

@keyframes questions {
    0%{
        transform: translateX(-660px);
    }
    100%{
        transform: translateY(0);
    }
}
