<section>
  <!-- listado de productos DERECHA -->
  <div class="container-left">
    <h2>Mi carrito</h2>
    <div class="msg-empty-cart" *ngIf="(items.length)===0">
      <p>Tu carrito está vacio</p>
    </div>
    <div class="products-list" *ngIf="(items.length) > 0">
      <ul class="shopping-cart-items">
        <li class="clearfix" *ngFor="let item of items">
          <img src="../../../../../assets/imagenes/celu.jpg" alt="item compra" />
          <div class="info">
            <span class="item-name">{{item.producto.nombre}}</span>
            <div class="row-info">
              <span>Color: {{item.producto.color}}</span>
              <span></span>
            </div>
          </div>
          <div class="price-u">
            <span>Precio:</span>
            <span class="item-price">${{item.producto.precio}}</span>
          </div>
          <div class="quantity">
            <span>Cantidad:</span>
            <div class="modify-quantity">
              <i class="fas fa-minus-circle" (click)="removeOne(item)"></i>
              <span class="item-quantity"> {{item.cantidad}}</span>
              <i class="fas fa-plus-circle" (click)="addOne(item)"></i>
            </div>
          </div>
          <div class="subtotal">
            <span>Subtotal:</span>
            <span class="item-subtotal">${{(item.producto.precio* item.cantidad)}}</span>
          </div>
          <i  id="close" class="fas fa-times" (click)="remove(item)" ></i>
          <!-- <i class="far fa-trash-alt" (click)="remove(item)"></i> -->
        </li>
      </ul>
    </div>
  </div>

  <!-- resumen de compra IZQUIERDA -->
  <div class="container-right"  *ngIf="(items.length) > 0"  >
    <div class="summary">
      <h2>Resumen de compra</h2>
      <div id="subtotal-summary"><span>Subtotal:</span> <span> ${{totalPrice}}</span> </div>
      <div id="total-summary"><span>Total:</span> <span>${{totalPrice}} </span> </div>
      <div class="coupon">
        <i class="fas fa-ticket-alt"></i> <span>¿Tenés un cupón de descuento?</span>
      </div>
    </div>
    <button [routerLink]="['/pre-checkout']">CONTINUAR</button>
  </div>


</section>

