
$fte-ppal: 'Poppins', sans-serif;
$fte-sec: 'Open Sans', sans-serif;
$color-ppal:#fff;
 $color-sec: rgb(87, 83, 83);
 $color-ter: rgb(172, 165, 165);
 $color-menues: rgb(243, 236, 236);


section{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    height: fit-content;
    min-height: 82vh;
}

.container-left{
    width: 65%;
    h2{
        font-family: $fte-ppal;
        text-transform: uppercase;
        border-bottom: 1px solid rgb(190, 187, 187);
        margin-bottom: 5px;
        margin-top: 10px;
        display: block;
    }
    .msg-empty-cart{
        background-color: rgba(255, 255, 255, 0.335);
        padding: 20px 30px;
        margin-top: 40px;
        border-radius: 20px;
        p{
            font-family: $fte-sec;
            color: $color-ter;
            font-size: 15px;
            text-align: center;
        }
    }
    .products-list{
        ul{ width: 100%;
            li{
                display: grid;
                grid-template-columns: 8% 50% 13% 13% 13% 3%;
                align-items: center;
                background-color: white;
                padding: 10px 10px;
                margin-top: 20px;
                margin-bottom: 5px;
                box-shadow: 1px 3px 5px rgb(170, 168, 168);
               &:hover{
                box-shadow: 2px 4px 6px $color-sec;
               cursor: default;
            }
                img{
                    width: 50px;
                    height: 56px;
                }
                .info{
                font-family: $fte-ppal;
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                .row-info{
                    span{
                        color: $color-sec;
                        font-size: 12px;
                    }
                    }
                }
                .price-u, .quantity, .subtotal{
                    display: flex;
                    flex-direction: column;
                    span{
                        font-family: $fte-ppal;
                        font-size: 11px;
                    }
                }
                .price-u{
                    .item-price{
                        font-size: 14px;
                    }
                }
                .quantity{
                    .modify-quantity{
                        border: 1px solid $color-sec;
                        border-radius: 5px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        width: 70%;
                        i{
                            color: $color-sec;
                            font-size: 0.8em;
                        }
                        .fa-minus-circle{
                            &:hover{
                                font-size: 0.85;
                                cursor: pointer;
                            }
                        }
                        .fa-plus-circle{
                            &:hover{
                                font-size: 0.85;
                                cursor: pointer;
                            }
                        }
                        .item-quantity{
                            font-weight: bold;
                            font-family: $fte-ppal;
                            font-size: 15px;
                        }
                    }
                }
                .subtotal{
                    .item-subtotal{
                        font-weight: bold;
                        font-size: 14px;
                    }
                }
                .fa-times{
                    color: rgba(218, 40, 40, 0.746);
                    font-size: 0.8em;
                   &:hover{
                       font-size: 0.9em;
                       color: red;
                       cursor: pointer;
                   }
                }
            }
        }
    }
}
.container-right{
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 28%;
    height: fit-content;
    margin-top: 45px;
    box-shadow: 2px 4px 4px $color-sec;
    .summary{
        font-family: $fte-sec;
        display: flex;
        flex-direction: column;
        h2{
            font-family: $fte-ppal;
            text-transform: uppercase;
            color: $color-sec;
            font-size: 20px;
            border-bottom: 1px solid rgb(190, 187, 187);
            margin-bottom: 5px ;
            margin-top: 14px;
            display: block;
            padding: 0px 25px 0px 25px;
            &:hover{
                cursor: default;
            }
        }
        #subtotal-summary,#total-summary{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 25px;
            &:hover{
                cursor: default;
            }
        }
        #subtotal-summary{
            color: $color-ter;
            font-size: 16px;
            
        }
        #total-summary{
            font-weight: bolder;
            font-size: 19px;
            background-color:$color-menues;
           
        }
        .coupon{
            border: 2px solid $color-sec;
            border-radius: 10px;
            width: 85%;
            align-self: center;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            box-sizing: border-box;
            padding: 5px 10px;
            margin-top: 30px;
            margin-bottom: 20px;
            outline: none;
            i{
                color: $color-sec;
                transform: rotate(-45deg);
            }
            span{
                font-size: 13px;
                font-weight: bolder;
                color: $color-sec;
            }
            &:hover{
                cursor: pointer;
                background-color: $color-sec;
            }
            &:hover>i{
                color: white;
            }
            &:hover>span{
                color: white;
                font-weight: normal;
            }

            
        }

    }
    button{
        background-color:rgb(34, 33, 33);
        font-size: 16px;
        color: white;
        font-family: $fte-ppal;
        border-radius: 0px 0px 15px 15px;
        border: 0px ;
        margin-top:5px ;
        box-sizing: border-box;
        width: 100%;
        padding: 4px 25px;
        align-self: flex-end;
        outline: none;
        &:hover{
            font-size: 16px;
            cursor: pointer;
            background-color:$color-sec;
        }
    }
}

@media  screen and (max-width: 500px)  {
section{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 95%;
    .container-left{
        width: 95%;
    }
    .container-right{
        width: 95%;
    }
}

}