<div class="benefits-row">
    
    <div class="card">
        <i class="fas fa-exchange-alt"></i>
        <div class="description">
            <p class="title">Devolución </p>
            <p class="subtitle">sin problemas</p>
        </div>
    </div>
    <div class="card">
        <i class="far fa-heart"></i>
        <div class="description">
            <p class="title">Nos importás</p>
            <p class="subtitle"> Preparamos tu pedido cuidando los detalles.</p>
        </div>
    </div>
    <div class="card" style="margin-left: -40px;">
        <i class="fas fa-truck"></i>
        <div class="description">
            <p class="title">Envío a domicilio</p>
            <p class="subtitle">Rápido y seguro</p>
        </div>
    </div>
    <div class="card">
        <i class="far fa-comments"></i>
        <div class="description">
            <p class="title">Atención personalizada</p>
            <p class="subtitle">Por teléfono, email o nuestras redes </p>
        </div>
    </div>
</div>