<section class="contenedor">
<div class="contenedor-menu">
		
    <ul class="menu">
        <li><a href=""><i class="icono izquierda fa fa-home"></i>Inicio</a></li>
        <li><a href="#"><i class="icono izquierda fas fa-heart" style="color: red;"></i>Favoritos</a></li>
        <li><a href="#"><i class="icono izquierda fas fa-swatchbook"></i>Categorias<i class="icono derecha fa fa-chevron-down"></i></a>
            <ul class="submenu_lateral" id="submenu_categorias">
                <li id="celulares">Celulares</li>
                <li  id="termos">Termos</li>
                <li>Item 3</li>
                <li>Item 4</li>
            </ul>
        </li>
        <li><a href="#"><i class="icono izquierda fas fa-sort-amount-down-alt"></i>Ordenar<i class="icono derecha fa fa-chevron-down"></i></a>
            <ul class="submenu_lateral">
                <li id="masVendidos">Más vendidos</li>
                <li  id="menorPrecio">Menor Precio</li>
                <li id="mayorPrecio">Mayor Precio</li>
            </ul>
        </li>
        <li><a href="#"><i class="icono izquierda fas fa-sliders-h"></i>Filtros</a></li>
 
        
            <li class="filtros" > Marcas
                <ol class="submenu_estatico">
                    <li id="Samsung"> Samsung</li>
                    <li id="Iphone">  Iphone</li>
                    <li id="Stanley"> Stanley</li>
                </ol>
            </li>

            <li class="filtros" > Filtrar por precio</li>

        
</ul>
</div>
</section>