$fte-ppal: 'Poppins', sans-serif;
$color-ppal: rgb(45, 123, 224);
$color-sec:rgb(16, 61, 119);

.contenedor{
    position: relative;
}

.side-bar{
    width: 22vw;
    min-width: 230px;
    background-color: white;
    position: absolute;
   top: 6vh;
    left: 30px;
    border-radius: 35px 0 35px 35px;
    padding-bottom: 45px;
    .menu_lateral{
        list-style: none;
        font-family: $fte-ppal;
        font-size: 15px;
        li{  padding-left: 15px;
            ul{
                
                li{
                    a{
                        padding-left: 45px;
                        color: grey;
                        font-weight: normal;
                    }
                }
            }
            a:hover{
                color:$color-sec ;
            }
        }
    }
}
a{
    text-decoration: none;
    color: $color-ppal;
    font-weight: bold;
    display: block;
    padding-left: 25px;
    padding: 5px;
}
li{
    list-style: none;
    
}





