<section class="contenedor">

<div class="side-bar">
    <ul class="menu_lateral">
        <li > Categorías
          
            <ul class="submenu_lateral" id="submenu_categorias">
                <li id="celulares">  Celulares </li>
                <li id="termos">  Termos</li>
                
            </ul>
            
        </li>
        <li > Ordenar
            <ul class="submenu_lateral">
                <li id="masVendidos"> Más vendidos</li>
                <li id="menorPrecio"> Menor Precio</li>
                <li id="mayorPrecio">  Mayor Precio</li>
            </ul>
        </li>
        <li> Marcas
            <ul class="submenu_lateral">
                <li id="Samsung"> Samsung</li>
                <li id="Iphone">  Iphone</li>
                <li id="Stanley"> Stanley</li>
            </ul>
        </li>
        
        <br>
        <hr>
        <li> Filtrar por precio</li>
    </ul>
</div>





</section>