<div class="middle">
    <div class="menu">
        <li class="item" id="categorias">
            <a href="#categorias" class="btn">Categorias <i class="fas fa-chevron-down"></i></a>
            <div class="smenu">
                <a href="">hola</a>
                <a href="">hola</a>
            </div>
        </li>
        <li class="item" id="ordenar">
            <a href="#ordenar" class="btn">Ordenar <i class="fas fa-chevron-down"></i></a>
            <div class="smenu">
                <a href="">hola</a>
                <a href="">hola</a>
            </div>
        </li>
        <li class="item"> Flitrar</li>
    </div>
</div>

