<header id="header">
    <div class="contacto" id="redes-header">
        <a href="#" title="Facebook" target="_blank">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="#" title="Instagram" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="#" title="Linkedin">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
    <div class="menu-header">
        <div class="logo">
            <a [routerLink]="['/home']" title="Home">
                <img src="../../../assets/imagenes/logo.png" alt="log" id="logo_header">
            </a>
        </div>
        <div id="fila-header">
            <nav>
                <ul class="menu">
                    <li (mouseover)="showCategories()"><a href="#section-categories">Categorías</a></li>
                    <li><a href="#section-ofertas">Ofertas</a></li>
                </ul>
            </nav>

            <div id="menu">
                <i class="fas fa-bars opciones"></i>
            </div>

            <form (submit)=buscarProducto(txtProducto.value)>
                <div class="buscador">
                    <input class=barraDeBusqueda type="text" placeholder=" Buscar" id="buscador" #txtProducto>
                    <button type="submit" class="btn-lupa"> <i class="fas fa-search" id="lupa"></i></button>

                </div>
            </form>

            <section id="contenedor_iconos">
                <div *ngIf="estaLogueado" class="iconos notificaciones">
                    <i class="fas fa-bell opciones"></i>
                    <p>Notificaciones</p>
                </div>

                <div *ngIf="hasRole('ROLE_USER') || !estaLogueado" class="iconos carrito" [routerLink]="['/shopping-cart']">
                    <i class="fas fa-shopping-cart opciones"></i>
                    <p>Carrito </p>

                    <div class="circulo">
                        <span>{{totalQuantity}}</span>
                    </div>
                </div>

                <div *ngIf="estaLogueado && hasRole('ROLE_ADMIN')" class="iconos carrito" [routerLink]="['/shopping-cart']">
                    <i class="fas fa-window-restore"></i>
                    <p>Ventas</p>
                </div>

                <div class="iconos miperfil" (mouseover)="showUserMenu()" (mouseout)="hiddeUserMenu()" [routerLink]="['/userLogIn']">
                    <i class="fas fa-user-circle opciones"></i>
                    <p>Mi Perfil</p>

                </div>

            </section>
        </div>
    </div>
</header>
<!-- User options y bg -->
<!-- User not authenticated -->
<ul *ngIf="!estaLogueado" id="userOptions" (mouseover)="showUserMenu()" (mouseout)="hiddeUserMenu()">
    <a [routerLink]="['/userLogIn']">
        <li><i class="fas fa-sign-in-alt"></i>Iniciar Sesión </li>
    </a>
    <a [routerLink]="['/user-sign-up']">
        <li><i class="fas fa-user-plus"></i>Registrarse</li>
    </a>
</ul>
<!-- Normal user -->
<ul *ngIf="estaLogueado && hasRole('ROLE_USER')" id="userOptions" (mouseover)="showUserMenu()" (mouseout)="hiddeUserMenu()">
    <a [routerLink]="['/user-profile']">
        <li>Mis Datos <i class="fas fa-file-invoice"></i></li>
    </a>
    <li>Compras<i class="fas fa-shopping-bag"></i></li>
    <li>Favoritos <i class="fas fa-heart"></i></li>
    <li (click)="logout()">Salir <i class="fas fa-sign-out-alt"></i></li>
</ul>
<!-- Admin user -->
<ul *ngIf="estaLogueado && hasRole('ROLE_ADMIN')" id="userOptions" (mouseover)="showUserMenu()" (mouseout)="hiddeUserMenu()">
    <a [routerLink]="['/user-profile']">
        <li>Mis Datos <i class="fas fa-file-invoice"></i></li>
    </a>
    <li>Productos </li>
    <li>Administración <i class="fas fa-cog"></i></li>
    <li (click)="logout()">Salir <i class="fas fa-sign-out-alt"></i></li>
</ul>
<div class="bg-menu" id="bg-menu"></div>
<div class="contenedor-categorias" (mouseover)="showCategories()" (mouseout)="hiddeSubAndCategories()" id="container-subcategories">
    <ul class="submenu " id="categoriesList">
        <li class="items-categories" *ngFor="let categoria of categorias; let i=index" (mouseover)="showsubcategories(i)">{{categoria.nombre}}<i class="fas fa-angle-down"></i>

        </li>
    </ul>
    <div id="container-sub">


    </div>
</div>