header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 115px;
  -webkit-box-shadow: 3px 3px 5px #807e7e;
          box-shadow: 3px 3px 5px #807e7e;
  width: 100%;
  position: relative;
  z-index: 5;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header .contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 97%;
  border-bottom: 1px solid rgba(221, 212, 212, 0.623);
  padding-top: 10px;
  padding-bottom: 5px;
}

header .contacto a {
  text-decoration: none;
}

header .contacto a i {
  color: #aca5a5;
  font-size: 1.2em;
  margin-left: 20px;
}

header .contacto a i:hover {
  color: #575353;
}

header .menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .menu-header .logo {
  width: 15vw;
}

header .menu-header .logo a img {
  width: 215px;
  height: 72px;
  margin-left: 25px;
}

header .menu-header #fila-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

header .menu-header #fila-header nav {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header .menu-header #fila-header nav ul {
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-bottom: 0;
}

header .menu-header #fila-header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 18vw;
}

header .menu-header #fila-header nav .menu li a {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

header .menu-header #fila-header nav .menu li a:visited {
  color: #575353;
}

header .menu-header #fila-header nav .menu li a:hover {
  background-size: 100% 2px;
}

header .menu-header #fila-header nav .menu li a:focus {
  background-size: 100% 2px;
}

header .menu-header #fila-header #menu {
  display: none;
}

header .menu-header #fila-header .buscador .barraDeBusqueda {
  border: 1px solid #c7c3c3;
  width: 39vw;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 40px;
  border-radius: 30px 4px 4px 30px;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 30px;
  background-color: #f3ecec;
}

header .menu-header #fila-header .buscador .barraDeBusqueda:focus {
  outline: none;
  border: 1px solid rgba(43, 41, 41, 0.582);
  -webkit-box-shadow: 3px 2px 3px rgba(255, 255, 255, 0.466);
          box-shadow: 3px 2px 3px rgba(255, 255, 255, 0.466);
}

header .menu-header #fila-header .buscador .barraDeBusqueda:hover {
  cursor: text;
}

header .menu-header #fila-header .buscador .btn-lupa {
  background-color: " ";
  border: none;
}

header .menu-header #fila-header .buscador .btn-lupa .fa-search {
  margin-left: -2.5vw;
  color: #5f5d5d;
}

header .menu-header #fila-header #contenedor_iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 12vw;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-right: 20px;
}

header .menu-header #fila-header #contenedor_iconos .iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 12.5vw;
  margin-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  margin-top: 13px;
}

header .menu-header #fila-header #contenedor_iconos .iconos i {
  color: #575353;
  font-size: 1.4em;
  margin-bottom: 5px;
}

header .menu-header #fila-header #contenedor_iconos .iconos i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

header .menu-header #fila-header #contenedor_iconos .iconos .fa-user-circle {
  font-size: 1.9em;
}

header .menu-header #fila-header #contenedor_iconos .iconos p {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  color: #575353;
  cursor: pointer;
}

header .menu-header #fila-header #contenedor_iconos .notificaciones {
  display: none;
}

header .menu-header #fila-header #contenedor_iconos .menu {
  display: none;
}

#userOptions {
  position: absolute;
  z-index: 4;
  right: 25px;
  background-color: #f3ecec;
  width: 190px;
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  list-style: none;
  display: none;
  cursor: pointer;
}

#userOptions a {
  text-decoration: none;
}

#userOptions li {
  background-color: #f3ecec;
  font-size: 16px;
  color: #575353;
  width: 100%;
  padding: 7px 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

#userOptions li:hover {
  background-color: #575353;
  color: #fff;
  cursor: pointer;
}

#userOptions li:hover > i {
  font-size: 1em;
}

#userOptions li i {
  font-size: 0.8em;
  margin-bottom: 3px;
}

.bg-menu {
  width: 100%;
  height: 100vh;
  background-color: rgba(31, 27, 27, 0.26);
  position: absolute;
  z-index: 3;
  top: 115px;
  left: 0px;
  display: none;
}

.contenedor-categorias .submenu {
  display: none;
  width: 210px;
  background-color: #f3ecec;
  padding-top: 10px;
  padding-bottom: 15px;
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  left: 10vw;
  z-index: 4;
}

.contenedor-categorias .submenu li {
  background-color: #f3ecec;
  font-size: 16px;
  color: #575353;
  width: 100%;
  padding: 7px 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.contenedor-categorias .submenu li:hover {
  color: #fff;
  background-color: #575353;
  cursor: default;
}

.contenedor-categorias .submenu li:hover > i {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: default;
}

.contenedor-categorias #container-subcategories {
  background: rgba(255, 255, 255, 0.966);
  width: 30vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  left: 28vw;
  z-index: 3;
  border-radius: 0px 0px 10px 0px;
  display: none;
}

@media screen and (max-width: 500px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
    padding-bottom: 15px;
    padding-top: 5px;
  }
  header .logo {
    width: 15vw;
  }
  header .logo a img {
    width: 160px;
    height: 55px;
    margin-left: 0px;
  }
  header #fila-header {
    width: 93%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-left: 24px;
    padding-left: 0px;
  }
  header #fila-header nav {
    display: none;
  }
  header #fila-header .iconos {
    display: initial;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    width: auto;
    margin-right: 0px;
  }
  header #fila-header .menu {
    display: initial;
  }
  header #fila-header .menu i {
    color: white;
    font-size: 1.5em;
  }
  header #fila-header .buscador .barraDeBusqueda {
    width: 53vw;
    height: 28px;
    font-size: 16px;
    padding-left: 35px;
    padding-right: 30px;
    margin-left: 2px;
  }
  header #fila-header .buscador .btn-lupa .fa-search {
    margin-left: -12vw;
  }
  header #fila-header #contenedor_iconos {
    display: initial;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 0px;
  }
  header #fila-header #contenedor_iconos .iconos {
    display: initial;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    width: auto;
    margin-right: 0px;
  }
  header #fila-header #contenedor_iconos .iconos p {
    display: none;
  }
  header #fila-header #contenedor_iconos .notificaciones {
    display: none;
  }
  header #fila-header #contenedor_iconos .miperfil {
    position: absolute;
    top: 20px;
    right: 3.5%;
  }
  header #fila-header #contenedor_iconos .miperfil a i {
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=normal-header.component.css.map */