<header id="header">

    <div class="logo">
        <a [routerLink]="['/home']" title="Home">
            <img src="../../../assets/imagenes/logo.png" alt="log" id="logo_header">
        </a>
    </div>
    <div id="fila-header">
        <nav>
            <ul class="menu">
                <li (mouseover)="showCategories()" ><a href="">Categorías</a>

                        <div class="contenedor-categorias"  (mouseout)="hiddeSubAndCategories()">
                            <ul class="submenu " id="categoriesList" >
                                <li class="items-categories" *ngFor="let categoria of categorias"  (mouseenter)="showSubcategories()">{{categoria.nombre}}<i class="fas fa-angle-down"></i></li>
                            </ul>
                            <div id="container-subcategories"(mouseenter)="showSubcategories()">

                            </div>
                        </div>
                     
                </li>
                <li><a href="">Ofertas</a></li>

            </ul>
        </nav>

        <div id="menu">
            <i class="fas fa-bars opciones"></i>
        </div>

        <form (submit)=buscarProducto(txtProducto.value)>
            <div class="buscador">
                <input class=barraDeBusqueda type="text" placeholder=" Buscar" id="buscador" #txtProducto>
                <button type="submit" class="btn-lupa"> <i class="fas fa-search" id="lupa"></i></button>

            </div>
        </form>

        <section id="contenedor_iconos">
            <div class="iconos carrito" [routerLink]="['/shopping-cart']">
                <i class="fas fa-shopping-cart opciones"></i>
                <p>Carrito  {{totalQuantity}}</p>
            </div>

            <div class="iconos notificaciones">
                <i class="fas fa-bell opciones"></i>
                <p>Notificaciones</p>
            </div>

            <div class="iconos miperfil" (mouseover)="showUserMenu()" [routerLink]="['/userLogIn']">
                <i class="fas fa-user-circle opciones"></i>
                <p>Mi Perfil</p>
               
            </div>

        </section>
    </div>

</header>
<!-- User options y bg -->
<ul id="userOptions" (mouseover)="showUserMenu()" (mouseout)="hiddeUserMenu()">
    <a [routerLink]="['/userLogIn']"> <li><i class="fas fa-sign-in-alt"></i>Iniciar Sesión </li></a> 
    <a [routerLink]="['/user-sign-up']" ><li ><i class="fas fa-user-plus"></i>Registrarse</li></a>
</ul>
<div class="bg-menu" id="bg-menu" ></div>