<section>
    <div class="fondo">

    </div>
    <div class="contenedor-form">
        <div class="campos-inicio-s">
            <h2>Inicio de Sesión</h2>
            <input type="text" id="username" placeholder="Nombre de usuario">
            <input type="password" id="password" placeholder="Contraseña">
            <input type="submit" value="Entrar" id="btn-entrar">
            <input type="submit" value="Registrarme" id="btn-entrar">
            
        </div>
        <div class="separacion">
            <span class="raya"></span>
            <p>o</p>
            <span class="raya"></span>
        </div>
        <div class="social-media">
            <button class="btn1">
            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> Iniciá sesión con Facebook</a>
            </button>
        
            <button class="btn2">
            <a href="#" target="_blank"><i class="fab fa-google"></i> Iniciá sesión con Google</a>
            </button>
          </div>
    </div>
    <div class="footer">

        <a href="">Privacidad</a>
        <a href=""> Terminos y condiciones</a>
    </div>

</section>
