$fte-ppal: 'Poppins', sans-serif;
$color-ppal: rgb(45, 123, 224);
$color-sec:rgb(16, 61, 119);



section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .fondo{
        background-color: $color-ppal;
        height: 40vh;
        width: 100%;
    }
    .contenedor-form{
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -150px;
        width: 30vw;
        .campos-inicio-s{
            
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 80%;
            height: 270px;
            h2{
            font-family: $fte-ppal;
            color: $color-sec;
            align-self: flex-start;
            display: block;
            border-bottom: 1px solid grey;
            width: 100%;
            padding-bottom: 10px;
            
            }
            #username{
                margin-top: 12px;
                height: 44px;
                width: 100%;
                font-family: $fte-ppal;
                font-size: 15px;
                padding-left: 10px;
                box-sizing: border-box;
                margin-bottom: -10px;
            }
            #password{
                height: 44px;
                width: 100%;
                font-family: $fte-ppal;
                font-size: 15px;
                padding-left: 10px;
                box-sizing: border-box;
                margin-bottom: -7px;
            }
            #btn-entrar{
                width: 100%;
                height: 40px;
                background-color: $color-sec;
                color: white;
                font-family:$fte-ppal;
                font-size: 16px;
                
            }
        }
        .separacion{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            width: 80%;
            p{
            color: grey;
            font-size: 17px;
            }
            span{
                display: block;
                border-bottom: 1px solid grey;
                width: 42%;
                
            }   
        }
        .social-media{
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 90px;
            margin-top: 15px;
            button{
                width: 100%;
                height: 40px;
                a{
                    text-decoration: none;
                    color: white;
                    font-family: $fte-ppal;
                    font-size:15px ;
                    
                }

            }
            .btn1{
                background-color: #3b5998;
            }
            .btn2{
                background-color: #db4a39;
            }
        }

    }
    .footer{
        width:25vw ;
    
        display: flex;
        justify-content: space-around;
        a{
            text-decoration: none;
            color: $color-sec;
            font-family: $fte-ppal;
            font-size: 12px;
            margin-top: 125px;
          
        }
    }
}