$fte-ppal: 'Poppins', sans-serif;
$color-ppal: rgb(45, 123, 224);
$color-sec:rgb(16, 61, 119);

%titulo-h2{
    font-family: $fte-ppal;
    color: $color-sec;
    align-self: flex-start;
    display: block;
    border-bottom: 1px solid grey;
    width: 100%;
    padding-bottom: 5px;
}
%gral{
    
    width: 80%;
    margin-bottom: 10px;
}
%cont-input{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

%i{
    position: absolute;
    padding: 13px;
    font-size: 1.1em;
    color: grey;
}
%campo-user{
    margin-top:7px;
    height: 44px;
    width: 100%;
    font-family: $fte-ppal;
    font-size: 15px;
    padding-left: 40px;
    box-sizing: border-box;
    &:focus{
        outline: none;
        border:1px solid rgb(180, 170, 170) ;
    }
}
%contrasena{
    height: 44px;
     width: 100%;
    font-family: $fte-ppal;
    font-size: 15px;
     padding-left: 40px;
    box-sizing: border-box;  
    &:focus{
    outline: none;
    border:1px solid rgb(180, 170, 170) ;
     }
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .fondo{
        background-color: $color-ppal;
        height: 40vh;
        width: 100%;
    }
    .contenedor-form{
        padding-top: 20px;
        padding-bottom: 40px;
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -190px;
        width: 30vw;
        
        
        .campos-inicio-s{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            @extend %gral;
            height: 300px;
            h2{
            @extend %titulo-h2;
            
            }
            .campo{
                @extend %cont-input;
                i{
                   @extend %i;
                  
                }
                .fa-user{
                   top: 7.1px;
                }
                .fa-eye{
                   margin-left: 86%;
                }
                #username{
                  @extend %campo-user;                   
                }
                #password{
                @extend %contrasena;
                }
            }
            
           #btn-entrar{
               margin-top: 5px;
               margin-bottom: 2px;
           }
           
            p{
                align-self: flex-start;
                font-family: $fte-ppal;
                color:$color-ppal;
                font-size:12px ;
                margin-top: -5px;
                margin-bottom: 5px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .separacion{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            width: 80%;
            p{
            color: grey;
            font-size: 17px;
            }
            span{
                display: block;
                border-bottom: 1px solid grey;
                width: 42%;
                
            }   
        }
        .social-media{
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 90px;
            margin-top: 15px;
            button{
                width: 100%;
                height: 40px;
                border-radius: 30px;
                border: none;
                outline: none;
                &:hover{
                    box-shadow: 1px 2px 2px gray;
                }
                a{
                    text-decoration: none;
                    color: white;
                    font-family: $fte-ppal;
                    font-size:15px ;
                    display: block;
                    width: 100%;
                    
                    i{
                        margin-right: 10px;
                    }
                    
                }

            }
            .btn1{
                background-color: #3b5998;
            }
            .btn2{
                background-color: #db4a39;
            }
        }
        #contenedor-registrarse{
            @extend %gral;
            height: 300px;
            display: none;

            h2{
                @extend %titulo-h2;
                display: flex;
                align-items: center;
                i{
                    font-size: 0.7em;
                    color: grey;
                    margin-right: 8px;
                }
            }
            .campo{
                @extend %cont-input;
                i{
                @extend %i;                    
                }
                .fa-user{
                   top: 7.1px;
                }
                #email{
                    @extend %campo-user;                     
                }
                #new-pasw{
                    @extend %contrasena;
                }
                .fa-eye{
                    margin-left: 86%;
                 }
            }
        }
        #msje-registro{
            font-family: $fte-ppal;
            color: grey;
            text-align: center;
            display: none;
        }
        #contenedor-forgot-psw{
            @extend %gral;
            display: none;
            height: 230px;

            h2{
                @extend %titulo-h2;
                display: flex;
                align-items: center;
                i{
                    font-size: 0.7em;
                    color: grey;
                    margin-right: 8px;
                }
            }
            p{
                font-family: $fte-ppal;
                color: gray;
            }
            .campo{
                @extend %cont-input;
                i{
                @extend %i;                    
                }
                .fa-user{
                   top: 7.1px;
                }
                #emailPsw{
                    @extend %campo-user;                     
                }
                
            }
        }
        

    }
    .footer-is{
        width:30vw ;
        display: flex;
        margin-top: 20px;
        // justify-content: flex-end;
        position: absolute;
        bottom: -80px;
        justify-content: space-between;
        a{
            text-decoration: none;
            color: $color-sec;
            font-family: $fte-ppal;
            font-size: 12px;
            // margin-top: 45px;
            // margin-left: 60px;
            // margin-right: 10px;
          
        }
    }
}

.boton{
    width: 100%;
    height: 40px;
    background-color: $color-sec;
    color: white;
    font-family:$fte-ppal;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    &:hover{
        box-shadow: 1px 2px 2px gray;
     }
     outline: none;
    
}
.primer{
    margin-top: 15px;
}