<section>
    <div class="fondo">
        <a [routerLink]="['/home']" title="Home">
            <img src="../../assets/imagenes/logo-blanco.png" alt="logo">
        </a>
    </div>
    <form class="contenedor-form" id="cont-form" autocomplete="off" [formGroup]="formRegistro" (ngSubmit)="registrarse()">
        <div id="contenedor-registrarse">
            <h2><i class="fas fa-arrow-circle-left" id="back1" [routerLink]="['/userLogIn']"></i>Crear cuenta</h2>
            <div class="campo">

                <input [ngClass]="{'is-invalid': emailInvalido}" type="email" id="email" placeholder="Correo electrónico" formControlName="email">
                <i class="fas  fa-envelope" id="icono-envelope"></i>
            </div>
            <span class="text-rojo" *ngIf="emailInvalido"><small>El email es obligatorio</small></span>
            <div class="campo">
                <input [ngClass]="{'is-invalid': passwordInvalida}" type="password" id="new-pasw" placeholder="Contraseña" formControlName="password">
                <i class="fas fa-lock" id="lock1"></i>
                <i class="far fa-eye" id="show1" (click)="mostrarPsw1()"></i>
                <i class="far fa-eye-slash" id="hide1" (click)="mostrarPsw1()"></i>
            </div>
            <span class="text-rojo" *ngIf="passwordInvalida"><small>Las contraseña deben coincidir</small></span>
            <div class="campo">
                <input [ngClass]="{'is-invalid': passwordNoIguales}" type="password" id="new-pasw-repeat" placeholder="Repetir contraseña" formControlName="passwordRepeat">
                <i class="fas fa-lock" id="lock2"></i>
                <i class="far fa-eye" id="show2" (click)="mostrarPsw2()"></i>
                <i class="far fa-eye-slash" id="hide2" (click)="mostrarPsw2()"></i>
            </div>
            <span class="text-rojo" *ngIf="passwordNoIguales"><small>Las contraseña deben coincidir</small></span>
            <button type="submit" id="btn-sign-up" class="boton">Registrarme</button>

        </div>
        <!--inicio mensaje cta creada-->
        <div id="msje-registro">
            <p>Gracias! Te hemos enviado un correo para realizar una breve verificación de identidad.</p>
            <!-- <span>Empecemos por configurar tu perfil:</span>
        <input type="text" id="name" placeholder="Nombre">
        <input type="text" id="lastname" placeholder="Apellido">
        <input type="submit" value="Continuar" id="btn-sign-up" class="boton"> -->
        </div>
        <!--FIN mensaje cta creada-->
    </form>
    <div class="footer-is">

        <a href="https://www.wantfrom.es/"> Powered by Wantfrom</a>
    </div>