
$fte-ppal: 'Poppins', sans-serif;
$fte-sec: 'Open Sans', sans-serif;
$color-ppal:#fff;
 $color-sec: rgb(87, 83, 83);
 $color-ter: rgb(172, 165, 165);
 $color-menues: rgb(243, 236, 236);

.footer{
    background-color: $color-menues;
    clear: both;
    font-family: $fte-ppal;
    article{
        position: relative;
        box-sizing: border-box;
       .row1{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 35px;
       margin-bottom: 35px;
        width: fit-content;
        margin-left: 50px;
        .caja{
            width: 340px;
            h4{
                margin-bottom: 10px;
                color: $color-sec;
                text-transform: uppercase;
            }
            p{
                font-size: 15px;
                color: rgb(102, 100, 100);
                line-height: 20px;
                font-family: $fte-sec;
            }
            .campo{
                display: flex;
                align-items: baseline;
                margin-bottom: 7px;
                i{
                    margin-right: 15px;
                    color: rgb(68, 66, 66);
                }
                .direccion{
                    line-height: 20px;
                }
         
            }
            .ubic{
                align-items: flex-start;
                margin-left: 3px;
            }
            .redes{
               width: fit-content;
               .iconos{
                   display: flex;
                   justify-content: space-around;
                   align-items: center;
                    a{
                        text-decoration: none;
                    
                        i{
                            color: rgb(68, 66, 66);
                            font-size: 2.5em;
                        }
                        .fa-facebook{
                            color: blue;
                        }
                        .fa-linkedin{
                            color: rgb(46, 156, 247);
                        }
                        img{
                            width:37px ;
                            height: 37px;
                            display: block;
                        }
                    }
                }
            }
            .marca{
                margin-top: 25px;
                width: fit-content;  
            }
        }
        .newsletter{
            
            background-color: $color-sec;
            background: linear-gradient(to bottom, $color-menues , black);
            align-self: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 5px;
            box-shadow: 3px 4px 3px grey;
            margin-left: -90px;
            width: 340px;
            position: absolute;
            right: 0;
            height: 100%;
            top: 0;
            h3{
                margin-top: -25px;
                color:$color-ppal;
                font-family: $fte-ppal;
                margin-bottom: 12px;
                font-weight: 600;
                text-align: center;
                font-size: 35px;
                text-shadow: 1px 2px 2px $color-ter;
                span{
                    font-size: 18px;
                    font-weight: bold;
                }
            }
            p{
                text-align: center;
                width: 280px;
                line-height: 16px;
                color:rgb(192, 184, 184) ;
                margin-bottom: 30px;
                margin-top: 15px;
                font-family: $fte-sec;
            }
            .form{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 270px;
            .insertemail{
                width:100%;
                height: 40px;
                outline: none;
                border-radius: 25px; 
                border: 1px solid $color-ppal;
                font-family: $fte-ppal;
                font-size: 16px;
                padding-left: 15px;
                padding-right: 30px;
                &:hover{
                    box-shadow: 1px 2px 2px $color-menues;
                }
                &:focus ~ i{
                    color: black;
                }
               }
                
                i{
                    position: absolute;
                    font-size: 18px;
                    color: $color-sec;
                    right: 16px;
                }            
            }
            
        }
       }
       .footer-mobile{
           display: none;
       }
       .row2{
           display: flex;
           justify-content: space-between;
           align-items: center;
           width: 40vw;
           margin-left: 50px;
           padding-bottom: 40px;
           h4{
               color: $color-sec;
               font-family: $fte-ppal;
               display: block;
               margin-right: 40px;
           }
           img{
               width: 44px;
               height:28px;
               margin-right: 20px;
           }
       }
  
    }
    .copy{
        background-color: black;
        height: 30px;
        position: relative;
        a{
            text-decoration: none;
            color: white;
            text-align: center;
            font-size: 13px;
            position: absolute;
            bottom: 3px;
            right: 35px;
            
        }
    }
}

@media  screen and (max-width: 500px)  {
    .footer{
    width: 100%;
    margin-top: 25px;
    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .row1{
            display:initial;         
        padding-top: 0px;
       margin-bottom: 0px;
        width: 100%;
        margin-left:0px;
           .ServCliente{
               display: none;
           }
           .Nosotros{
               display: none;
           }
           .newsletter{
               display: none;
           }
           .Contacto{
            width:100%;
            display:flex;
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
            margin-left: 15px;
            h4{
                display: none;
            }
            p{
                line-height: 0px;
                margin-bottom: 0px;
            font-size: 14px;
            }
            .campo{
                display: flex;
                align-items:center;
                justify-content: flex-start;
                margin-bottom: 7px;
                width: 100%;
                padding-left: 15px;
                i{
                    margin-right: 10px;
                }
                .direccion{
                    line-height: 20px;
                    width: 70%;          
                    
                }
                p{
                    line-height: 0px;
                }
         
            }
            
           }
            
        }
        .row2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
            margin-left: 0px;
            margin-bottom: 10px;
            padding:0px;
            padding-bottom: 7px;
            h4{
               font-size: 16px;
               text-align: center;
              margin-left: 0px;
                width:100%;
                margin-right: 0px;
                margin-top: 10px;
            }
            img{
                
                width: 35px;
                height:23px;
                margin-right: 5px;
                margin-left: 5px;
                
            }
            .img-pagos{
                margin-left: auto;
                margin-right: auto;
                display: flex;
                justify-content: space-around;
            }
        }
        .footer-mobile{
            display: initial;
            .redes{
                width: 90%;
                border-bottom: 1px solid grey;
                border-top: 1px solid grey;
                padding-top: 15px;
                padding-bottom: 15px;
                margin-left: auto;
                margin-right: auto;
                .iconos{
                    display: flex;
                    
                    width: 100%;
                    justify-content: space-evenly;                    
                     a{                     
                         i{
                             font-size: 2em;
                         }
                         
                         img{
                             width:32px ;
                             height: 32px;
                         }
                     }
                 }
             }
             .ServCliente-mobile{
                 display: flex;
                 flex-direction: column;
                 width: 100%;
                 font-family: $fte-ppal;
                 font-size: 13px;
                 margin-bottom: 10px;
                margin-top: 15px;
                 div{
                     width: 100% ;
                    
                     a{
                        text-decoration: none;
                        display: block;
                        margin-left: 13px;
                        margin-right: 13px;
                        line-height: 15px;
                        
                      
                    }
                 }
               
             }
        }
        
    }
   
}
}
