<section class="footer">
    <article>
        <div class="row1">
            <div class="caja ServCliente">
                <h4>Servicio al Cliente</h4>
                <p>Ayuda</p>
                <p>Preguntas Frecuentes</p>
                <p>Politica de Privacidad</p>
                <p>Politica de Envíos</p>
                <p>Politica de Devoluciones <br> y Reembolsos</p>
                <p>AvisosLegales</p>
            </div>

            <div class="caja Contacto">
                <h4>Contacto</h4>
                <div class=" campo">
                    <i class="fab fa-whatsapp"></i>
                    <p>351 - 5584692</p>
                </div>
                <div class="campo">
                    <i class="fas fa-phone-alt"></i>
                    <p>03543 - 485269</p>
                </div>
                <div class="campo">
                    <i class="far fa-envelope"></i>
                    <p>hola@ecommerce.com</p>
                </div>
                <div class="campo ubic">
                    <i class="fas fa-map-marker-alt"></i>
                    <p class="direccion">Av Emilio Olmos 43, CP5000. Córdoba, Argentina.</p>
                </div>
            </div>
            <div class="caja Nosotros">
                <div class="redes">
                    <h4>Nuestras Redes</h4>
                    <div class="iconos">
                        <a href="#" title="Facebook" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#" title="Instagram" target="_blank">
                            <img src="../../../assets/imagenes/instagram.png" alt="">
                        </a>
                        <a href="#" title="Linkedin">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                </div>
                <div class="marca">
                    <h4>(Nombre marca)</h4>
                    <p> ¿Quíenes Somos?</p>
                    <p>Contános tu opinion</p>
                    <p>Trabajá con nosotros</p>

                </div>
            </div>

            <div class="caja newsletter">
                <h3><span>PROMOS Y OPORTUNIDADES </span> <br> EXCLUSIVAS</h3>

                <p>Suscribite a nuestro newsletter para ser el primero en enterarte de nuestras novedades y ofertas</p>

                <form action="" method="post" class="form">
                    <input type="email" id="" name="" class="insertemail" placeholder="your@email.com"> 
                    <i class="far fa-envelope"></i>
                  
                </form>

            </div>
        </div>

        <div class="row2">
            <h4>Medios de Pago</h4>

            <img src="../../../assets/imagenes/visa.png" alt="">
            <img src="../../../assets/imagenes/master.png" alt="">
            <img src="../../../assets/imagenes/naranja.png" alt="">
            <img src="../../../assets/imagenes/paypal.png" alt="" width="66px">
        </div>

        <div class="footer-mobile">
    
            <div class="redes">
                <div class="iconos">
                    <a href="#" title="Facebook" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#" title="Instagram" target="_blank">
                        <img src="../../../assets/imagenes/instagram.png" alt="">
                    </a>
                    <a href="#" title="Linkedin">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
            <div class="ServCliente-mobile">
                <div class="row_one">
                    <a href="#"> Ayuda</a>
                    <a href="#"> Preguntas Frecuentes</a>
                </div>
                <div class="row_two">
                    <a href="#"> Politica de Privacidad</a>
                </div>
                <div class="row_three">
                    <a href="#"> Politica de Devoluciones y Reembolsos</a>
                </div>
                <div class="row_for">
                    <a href="#"> Politica de Envíos</a>
                    <a href="#"> AvisosLegales</a>
                </div>
            </div>

        </div>



    </article>
    <div class="copy">
       <a href="https://www.wantfrom.es/">Powered by Wantfrom</a>
    </div>
</section>