$color-fondo:rgba(45, 123, 224, 0.192);
$fte-ppal: 'Poppins', sans-serif;
$color-ppal: rgb(45, 123, 224);
$color-sec:rgb(16, 61, 119);


section{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 30px;
    height: fit-content;
    min-height: 75vh;
}

.container-left{
    width: 65%;
    h2{
        font-family: $fte-ppal;
        border-bottom: 1px solid rgb(190, 187, 187);
        margin-bottom: 5px;
        margin-top: 10px;
        display: block;
    }
    .products-list{
        ul{ width: 100%;
            li{
                display: grid;
                grid-template-columns: 8% 50% 13% 13% 13% 3%;
                align-items: center;
                background-color: white;
                border-radius: 20px;
                padding: 10px 10px;
                margin-top: 20px;
                margin-bottom: 5px;
                box-shadow: 1px 2px 1px rgb(170, 168, 168);
               &:hover{
                box-shadow: 2px 3px 3px rgb(170, 168, 168);
               }
                img{
                    width: 50px;
                    height: 56px;
                }
                .info{
                font-family: $fte-ppal;
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                .row-info{
                    span{
                        color: grey;
                        font-size: 12px;
                    }
                    }
                }
                .price-u, .quantity, .subtotal{
                    display: flex;
                    flex-direction: column;
                    span{
                        font-family: $fte-ppal;
                        font-size: 11px;
                    }
                }
                .price-u{
                    .item-price{
                        font-size: 14px;
                    }
                }
                .quantity{
                    .modify-quantity{
                        border: 1px solid $color-sec;
                        border-radius: 5px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        width: 70%;
                        i{
                            color: $color-sec;
                            font-size: 0.8em;
                        }
                        .fa-minus-circle{
                            &:hover{
                                font-size: 0.85;
                            }
                        }
                        .fa-plus-circle{
                            &:hover{
                                font-size: 0.85;
                            }
                        }
                        .item-quantity{
                            font-weight: bold;
                            font-family: $fte-ppal;
                            font-size: 15px;
                        }
                    }
                }
                .subtotal{
                    .item-subtotal{
                        font-weight: bold;
                        font-size: 14px;
                    }
                }
                .fa-times{
                    color: rgba(218, 40, 40, 0.746);
                    font-size: 0.8em;
                   &:hover{
                       font-size: 0.9em;
                       color: red;
                   }
                }
            }
        }
    }
}
.container-right{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 28%;
    height: fit-content;
    margin-top: 50px;
    .summary{
        font-family: $fte-ppal;
        display: flex;
        flex-direction: column;
        h2{
            color: $color-sec;
            font-size: 20px;
            border-bottom: 1px solid rgb(190, 187, 187);
            margin-bottom: 5px ;
            margin-top: 14px;
            display: block;
            padding: 0px 25px 0px 25px;
        }
        #subtotal-summary,#total-summary{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 25px;
        }
        #subtotal-summary{
            color: grey;
            font-size: 15px;
        }
        #total-summary{
            font-weight: bolder;
            font-size: 19px;
            background-color:rgba(221, 210, 210, 0.692);
        }
        .coupon{
            border: 2px solid $color-sec;
            border-radius: 10px;
            width: 85%;
            align-self: center;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            box-sizing: border-box;
            padding: 5px 10px;
            margin-top: 30px;
            margin-bottom: 20px;
            i{
                color: $color-sec;
                transform: rotate(-45deg);
            }
            span{
                font-size: 13px;
                font-weight: bolder;
                color: $color-sec;
            }
            
        }

    }
    button{
        background-color:$color-sec;
        font-size: 15px;
        color: white;
        font-family: $fte-ppal;
        border-radius: 0px 0px 20px 20px;
        border: 0px ;
        margin-top:5px ;
        box-sizing: border-box;
        width: 100%;
        padding: 3px 25px;
        align-self: flex-end;
        &:hover{
            font-size: 16px;
        }
    }
}