$color-fondo:rgba(45, 123, 224, 0.192);
$fte-ppal: 'Poppins', sans-serif;
$color-ppal: rgb(45, 123, 224);
$color-sec:rgb(16, 61, 119);

%prop-botones-prod {
   background-color:$color-sec;
   font-size: 13px;
   color: white;
   font-family: $fte-ppal;
   border-radius: 5px;
   border: 0px ;
   margin-top:5px ;
   padding: 3px 10px;
}

div{
   display: flex;
   flex-direction: column;
   align-items: center;
      .contenedorProductos{
          width: 90vw;
          background-color: #ffffff;
          font-family: $fte-ppal;
          margin-top: 6vh;
          margin-bottom: 70px;
          border-radius: 7px;
          padding-bottom:25px ;
         
          h2{ 
              font-family: $fte-ppal;
              color: $color-sec;
              display: block;
              margin: 25px 0px 10px 17px;
              text-align: left;
              font-size: 30px;
          }
          .contenedor-tarjetas{
              margin-left: auto;
              margin-right: auto;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row;
              position: relative;
              .button{
                background: teal;
                border: 0;
                border-radius: 50%;
                color: white;
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: bold;
                height: 3rem;
                opacity: 0.25;
                position: absolute;
                transition: opacity 0.25s;
                width: 3rem;
                z-index: 1;
                outline: none;
              }
              .previous {
                left: 35px;
              }
              .next {
                right: 35px;
              }
              .carrousel{
                display:flex;
              flex-direction: row;
              width: 86%;
              overflow: hidden;
              .tarjetas{
                transform: translate(0px);
              }
             
              }
          }
      }
      }
   
      
      
      @media  screen and (max-width: 500px)  {
          div{
              display: flex;
              justify-content: center;
              flex-direction: center;
              align-items: center;
          .contenedorProductos{
              width: 90vw;
              margin-right:0px;
              margin-left:0px;
              margin-bottom: 10px;
              padding-bottom:25px ;
              margin-top: 2vh;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              position: relative;
             
              h2{ 
                  margin: 0px;
                  margin-top: 20px;
                  margin-bottom: 7px;
                  font-size: 25px;
                  text-align: center;
              }
              .contenedor-grid{
                  width: 85%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  text-align: center;
              
              }
          }
         }
       }
      
