.cont-destacados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

.cont-destacados h2 {
  color: #575353;
  margin-top: 30px;
}

.cont-destacados .contenedor-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.cont-destacados .contenedor-principal .flecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border: none;
  font-size: 40px;
  height: 12%;
  top: calc(50%-6%);
  line-height: 40px;
  width: 50px;
  color: #aca5a5;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
  outline: none;
}

.cont-destacados .contenedor-principal .flecha:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cont-destacados .contenedor-principal .flecha-derecha {
  right: -15px;
  border-radius: 40px 0px 0px 40px;
  background: -webkit-gradient(linear, right top, left top, color-stop(1%, white), to(#f3ecec));
  background: linear-gradient(to left, white 1%, #f3ecec);
}

.cont-destacados .contenedor-principal .flecha-derecha i {
  margin-right: -8px;
  margin-top: -1px;
}

.cont-destacados .contenedor-principal .flecha-izquierda {
  left: -15px;
  border-radius: 0px 40px 40px 0px;
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, white), to(#f3ecec));
  background: linear-gradient(to right, white 1%, #f3ecec);
}

.cont-destacados .contenedor-principal .flecha-izquierda i {
  margin-left: -8px;
  margin-top: -1px;
}

.cont-destacados .contenedor-principal .contenedor-carousel {
  width: 100%;
  overflow: hidden;
  padding: 5px 0px 20px 10px;
  scroll-behavior: smooth;
}

.cont-destacados .contenedor-principal .contenedor-carousel .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.cont-destacados .contenedor-principal .contenedor-carousel .carousel .tarjetas {
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  min-width: 20%;
}

.cont-destacados .contenedor-principal .contenedor-carousel .carousel .tarjetas.hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.cont-destacados .indicadores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont-destacados .indicadores button {
  background-color: #fff;
  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
}

.cont-destacados .indicadores button:hover {
  background-color: red;
}

.cont-destacados .indicadores button.activo {
  background-color: red;
}

.cont-ofertas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

.cont-ofertas h2 {
  font-family: "Poppins", sans-serif;
  color: #575353;
  margin-top: 30px;
}

.cont-ofertas .contenedor-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.cont-ofertas .contenedor-principal .flecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border: none;
  font-size: 40px;
  height: 12%;
  top: calc(50%-6%);
  line-height: 40px;
  width: 50px;
  color: #aca5a5;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
  outline: none;
}

.cont-ofertas .contenedor-principal .flecha:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cont-ofertas .contenedor-principal .flecha-derecha {
  right: -15px;
  border-radius: 40px 0px 0px 40px;
  background: -webkit-gradient(linear, right top, left top, color-stop(1%, white), to(#f3ecec));
  background: linear-gradient(to left, white 1%, #f3ecec);
}

.cont-ofertas .contenedor-principal .flecha-derecha i {
  margin-right: -8px;
  margin-top: -1px;
}

.cont-ofertas .contenedor-principal .flecha-izquierda {
  left: -15px;
  border-radius: 0px 40px 40px 0px;
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, white), to(#f3ecec));
  background: linear-gradient(to right, white 1%, #f3ecec);
}

.cont-ofertas .contenedor-principal .flecha-izquierda i {
  margin-left: -8px;
  margin-top: -1px;
}

.cont-ofertas .contenedor-principal .contenedor-carousel {
  width: 100%;
  overflow: hidden;
  padding: 5px 0px 20px 10px;
  scroll-behavior: smooth;
}

.cont-ofertas .contenedor-principal .contenedor-carousel .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.cont-ofertas .contenedor-principal .contenedor-carousel .carousel .tarjetas {
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  min-width: 20%;
}

.cont-ofertas .contenedor-principal .contenedor-carousel .carousel .tarjetas.hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.cont-ofertas .indicadores-ofertas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cont-ofertas .indicadores-ofertas button {
  background-color: #fff;
  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
}

.cont-ofertas .indicadores-ofertas button:hover {
  background-color: red;
}

.cont-ofertas .indicadores-ofertas button.activo {
  background-color: red;
}

.container-categories {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.container-categories .card-c {
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 80% 20%;
      grid-template-rows: 80% 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 22vw;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-categories .card-c:hover > img {
  opacity: 0.7;
}

.container-categories .card-c:hover > h3 {
  background-color: #575353;
}

.container-categories .card-c img {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0px 0px;
}

.container-categories .card-c h3 {
  background-color: #fff;
  color: white;
  width: 100%;
  padding: 10px 10px;
  font-size: 15px;
  text-align: center;
  border-radius: 0px 0px 20px 0px;
}
/*# sourceMappingURL=products.component.css.map */