
$fte-ppal: 'Poppins', sans-serif;
$fte-sec: 'Open Sans', sans-serif;
$color-ppal:#fff;
 $color-sec: rgb(87, 83, 83);
 $color-ter: rgb(172, 165, 165);
 $color-menues: rgb(243, 236, 236);
 input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{
    appearance: none;
    margin: 0;
}

%prop-items-ppales {
    background-color: $color-sec;
    color:$color-ppal;
	display: block;
    padding: 15px 20px;
    &:hover{
        cursor: default;
    }
}


a {
	text-decoration: none;	
}
.contenedor{
    width: 22vw;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    .contenedor-menu {
        width: 22vw;
        min-width: 300px;
        font-family: $fte-sec;
        line-height: 20px;
        .menu{
           padding-bottom: 30px;
           box-shadow:1px 2px 2px $color-ter ;
           background-color: $color-menues;
           li{
                 
                 ul{
                    li{
                    color:$color-sec;
                    font-size: 14px;
                    padding-left: 50px;
                    padding-top: 4px;
                    padding-bottom: 4px;    
                    &:hover{
                        cursor: pointer;
                    }
                    }
                }
                .izquierda {
                    float: left;
                    margin-right: 10px; 
                }
                .derecha {
                    float: right;
                    margin-left: 10px; 
                }
                .icono {
                    font-size: 12px;
                    line-height: 20px;
                
                }
             }
            
            .filtros{
                font-size: 14px;
                font-weight: bold;
                color:$color-sec;
                display: block;
                padding: 5px 60px;             
            }
            
            
    }
    }
}

.filtro{
    font-size: 14px;
    display: flex;
    align-items: baseline;
    padding-left: 70px;
    input{
        margin-right: 7px;
    }
    .pcio{
        width: 30%;
        font-size: 13px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 10px;
    }
    i{
        font-size: 1.1em;
        &:hover{
           transform:scale(1.1);
           background-color: $color-menues;
           color: $color-sec;
        }
    }
}
.pcio-min-max{
    display: flex;
}

ul {
    list-style: none;
}

.contenedor-menu .menu li a {
	@extend %prop-items-ppales;
   
}

#filtros{
    @extend %prop-items-ppales;
}



@media  screen and (max-width: 500px)  {
.contenedor{
    display: none;
}

}


// @media screen and (max-width: 450px) {
// 	body {
// 		padding-top: 80px;
// 	}

// 	.contenedor-menu {
// 		margin: 0;
// 		width: 100%;
// 		position: fixed;
// 		top:0;
// 		z-index: 1000;
// 	}

// 	.btn-menu {
// 		display: block;
// 	}

// 	.contenedor-menu .menu {
// 		display: none;
// 	}
// }