#contenedor-vermas section .contenedor-uno #izquierda #img-sec div, #contenedor-vermas section .contenedor-uno #izquierda #img-ppal {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#contenedor-vermas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 8vh;
}

#contenedor-vermas section {
  background-color: white;
  border-radius: 22px;
  margin-top: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contenedor-vermas section .contenedor-uno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 15px;
  width: 86vw;
}

#contenedor-vermas section .contenedor-uno #izquierda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50vw;
}

#contenedor-vermas section .contenedor-uno #izquierda #img-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contenedor-vermas section .contenedor-uno #izquierda #img-sec div {
  width: 90px;
  height: 90px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#contenedor-vermas section .contenedor-uno #izquierda #img-sec div:hover {
  border: 3px solid #103d77;
  -webkit-box-shadow: 1px 2px 1px #979393;
          box-shadow: 1px 2px 1px #979393;
}

#contenedor-vermas section .contenedor-uno #izquierda #img-sec #img-uno {
  background-image: url(https://d26lpennugtm8s.cloudfront.net/stores/086/894/products/img-20200518-wa00101-9587272a3a2cc19c4715898271067988-1024-1024.jpg);
}

#contenedor-vermas section .contenedor-uno #izquierda #img-sec #img-dos {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQrVkIGh9jsHdgQi8RYojCJmVbWcvktrY4wWA&usqp=CAU);
}

#contenedor-vermas section .contenedor-uno #izquierda #img-sec #img-tres {
  background-image: url(https://www.aquadelta.com.ar/img/articulos/termo_stanley_classic_750_ml_polar_blanco_1_imagen2.jpg);
}

#contenedor-vermas section .contenedor-uno #izquierda #img-sec #img-cuatro {
  background-image: url(https://d2ye0ltusw47tz.cloudfront.net/196572-large_default/termo-stanley-clasico-14-lts-plegable-rojo-10-08999-007.jpg);
}

#contenedor-vermas section .contenedor-uno #izquierda #img-ppal {
  width: 40vw;
  height: 420px;
  background-image: url(https://d26lpennugtm8s.cloudfront.net/stores/086/894/products/img-20200518-wa00101-9587272a3a2cc19c4715898271067988-1024-1024.jpg);
}

#contenedor-vermas section .contenedor-uno #derecha {
  border: 1.5px solid #2d7be0;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  margin-left: 3vw;
  width: 30vw;
}

#contenedor-vermas section .contenedor-uno #derecha #caja-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-right: 5px;
  margin-bottom: 15px;
  margin-top: 7px;
}

#contenedor-vermas section .contenedor-uno #derecha #caja-titulo h2 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  width: 20vw;
}

#contenedor-vermas section .contenedor-uno #derecha #caja-titulo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 6vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contenedor-vermas section .contenedor-uno #derecha #caja-titulo div a {
  text-decoration: none;
}

#contenedor-vermas section .contenedor-uno #derecha #caja-titulo div a i {
  font-size: 1.4em;
  color: #103d77;
}

#contenedor-vermas section .contenedor-uno #derecha #caja-titulo div a i:hover {
  font-size: 1.6em;
}

#contenedor-vermas section .contenedor-uno #derecha #caja-precio h3 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
  color: #103d77;
}

#contenedor-vermas section .contenedor-uno #derecha #caja-precio .medios-de-pago h4 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 8px;
}

#contenedor-vermas section .contenedor-uno #derecha #caja-precio .medios-de-pago img {
  width: 60px;
  height: 38px;
  margin-right: 5px;
}

#contenedor-vermas section .contenedor-uno #derecha #caja-carrito {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contenedor-vermas section .contenedor-uno #derecha #caja-carrito div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 20vw;
}

#contenedor-vermas section .contenedor-uno #derecha #caja-carrito div #cantidad {
  width: 55px;
  height: 35px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid grey;
  border-radius: 5px;
}

#contenedor-vermas section .contenedor-uno #derecha #caja-carrito div #color {
  width: 120px;
  height: 35px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  border: 2px solid grey;
  border-radius: 5px;
}

#contenedor-vermas section .contenedor-uno #derecha #caja-carrito #btn-carrito {
  background-color: #103d77;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  border: 0px;
  padding: 8px 18px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 20px;
}

#contenedor-vermas section .contenedor-uno #derecha #caja-carrito #btn-carrito:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

#contenedor-vermas section .contenedor-dos {
  width: 76vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5px;
}

#contenedor-vermas section .contenedor-dos #datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid grey;
  padding-bottom: 8px;
}

#contenedor-vermas section .contenedor-dos #datos p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

#contenedor-vermas section .contenedor-dos #descripcion-producto {
  width: 68vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 35px;
  padding-bottom: 80px;
}

#contenedor-vermas section .contenedor-dos #descripcion-producto h3 {
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  margin-bottom: 15px;
}

#contenedor-vermas section .contenedor-dos #descripcion-producto p {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  line-height: 25px;
  color: grey;
}

#contenedor-vermas section .contenedor-tres {
  font-family: "Poppins", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% 20%;
      grid-template-columns: 80% 20%;
  -ms-grid-rows: 1fr 3fr 1fr;
      grid-template-rows: 1fr 3fr 1fr;
      grid-template-areas: "titulo titulo" "mensaje cartel" "mensaje enviar";
  height: 270px;
  margin-bottom: 50px;
  width: 65%;
  margin-top: 25px;
}

#contenedor-vermas section .contenedor-tres p {
  font-size: 22px;
  padding-bottom: 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titulo;
}

#contenedor-vermas section .contenedor-tres #pregunta {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: mensaje;
  width: 93%;
  outline: none;
  border: 2px solid #103d77;
  border-radius: 30px 30px 0 30px;
  padding: 15px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

#contenedor-vermas section .contenedor-tres div {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cartel;
  background-color: lightblue;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 15px;
  border-radius: 10px;
}

#contenedor-vermas section .contenedor-tres div #cartel {
  font-size: 16px;
  text-align: center;
  padding-bottom: 0;
}

#contenedor-vermas section .contenedor-tres button {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: enviar;
  background-color: white;
  outline: none;
  border: 2px solid #103d77;
  border-radius: 8px 8px 8px 0;
}

#contenedor-vermas section .contenedor-tres button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 1px 2px 1px grey;
          box-shadow: 1px 2px 1px grey;
  cursor: pointer;
}

#contenedor-vermas section .contenedor-tres button i {
  color: #103d77;
  font-size: 1.6em;
}
/*# sourceMappingURL=vermas.component.css.map */