<div id="contenedor-vermas">   
    <section>
        <article class="contenedor-uno">
            <div id="izquierda">
                <div id="img-sec">
                    <!-- imagenes en pequeno-->
                    <div id="img-uno"></div>
                    <div id="img-dos"></div>
                    <div id="img-tres"></div>
                    <div id="img-cuatro"></div>
                </div> 
                <div id="img-ppal">
                    <!-- aca iria la imagen-->
                
                </div> 
            </div>
            <div id="derecha">
                <div id="caja-titulo">
                    <h2> Celular Samsung Galaxy A51 </h2>
                <!-- un h2 con el titulo-->
                <div class="iconos-detalle-producto">
                        <i class=" iconos far fa-heart"></i>
                        <i class="iconos fas fa-share-alt"></i>
                    </div>
                </div>
                <div id="caja-precio">
                    <!-- un h3 con el pcio-->
                    <h3>$27000</h3>
                    <div class="medios-de-pago" >
                        <h4>Medios de Pago</h4>
                        <img src="../../../../assets/imagenes/visa.png" alt="">
                        <img src="../../../../assets/imagenes/master.png" alt="">
                        <img src="../../../../assets/imagenes/naranja.png" alt="">
                        <img src="../../../../assets/imagenes/mercadopago.jpg" alt="">
                    </div>
                </div>
                <div id="caja-carrito">
                    <div>
                        <input type="number" value="1" id="cantidad">
                        <select id="color">
                            <option >-Color-</option>
                            <option value="negro">Negro</option>
                            <option value="blanco">Blanco</option>
                            <option value="dorado">Dorado</option>
                        </select>
                    </div>
                    <input type="submit" value="Agregar al Carrito" id="btn-carrito">
                </div>
                
            </div>
        </article>
        <article class="contenedor-dos">
            <div id="datos">
                <p>Marca:</p>
                <p>Modelo:</p>
                <p>Año:</p>
                <p>Stock:</p>

            </div>
            <div id="descripcion-producto" >
                <h3>Descripción </h3>
                <p >Lorem ipsum, dolor sit amet consec<br> etur adipisicing elit. Sequi delectus debitis repudiandae nemo! Minus ali<br>quam saepe reprehenderit dignissimos quibusdam neque quos repellat vel debitis quia. Reprehenderit sed qui<br>squam natus? FugaLorem ipsum, dolor sit am<br>et consectetur adipisicing elit. Sequi delectus debitis repudiandae nemo! Minus aliquam saepe reprehenderit dignissimos quibusdam neque quos repellat vel debitis quia. Reprehenderit sed quisquam natus? Fuga.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi delectus debitis repudiandae nemo! Minus aliquam saepe reprehenderit dignissimos quibusdam neque quos repellat vel debitis quia. Reprehenderit sed quisquam natus? FugaLorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi delectus debitis repudiandae nemo! Minus aliquam saepe reprehenderit dignissimos quibusdam neque quos repellat vel debitis quia. Reprehenderit sed quisquam natus? Fuga</p>
            </div>
        </article>

    </section>
</div> 