$fte-ppal: 'Poppins', sans-serif;
$color-ppal: rgb(45, 123, 224);
$color-sec:rgb(16, 61, 119);

%prop-bg-img{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#contenedor-vermas{
    display: flex;
        justify-content: center;
        
       
    section{
        background-color: white;
        border-radius: 22px;
        margin-top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        .contenedor-uno{
            display: flex;
            justify-content: space-between;
            padding: 35px 15px;
            width: 86vw;
           
            #izquierda{
                display: flex;
                justify-content: space-around;
                width: 50vw;
                #img-sec{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    
                    div{
                        width: 90px;
                        height: 90px;
                        box-sizing: border-box;
                        @extend %prop-bg-img;
                        &:hover{
                            border: 3px solid $color-sec;
                            box-shadow: 1px 2px 1px rgb(151, 147, 147);
                        }
                    }
                    #img-uno{
                        background-image: url(https://d26lpennugtm8s.cloudfront.net/stores/086/894/products/img-20200518-wa00101-9587272a3a2cc19c4715898271067988-1024-1024.jpg);
                    
                    }
                    #img-dos{
                        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQrVkIGh9jsHdgQi8RYojCJmVbWcvktrY4wWA&usqp=CAU);
                    }
                    #img-tres{
                        background-image: url(https://www.aquadelta.com.ar/img/articulos/termo_stanley_classic_750_ml_polar_blanco_1_imagen2.jpg);
                    }
                    #img-cuatro{
                        background-image: url(https://d2ye0ltusw47tz.cloudfront.net/196572-large_default/termo-stanley-clasico-14-lts-plegable-rojo-10-08999-007.jpg);
                        
                    }
                }
                #img-ppal{
                    width:40vw;
                    height: 420px;
                    background-image: url(https://d26lpennugtm8s.cloudfront.net/stores/086/894/products/img-20200518-wa00101-9587272a3a2cc19c4715898271067988-1024-1024.jpg);
                    @extend %prop-bg-img;
                }
            }
            #derecha{
                border: 1.5px solid $color-ppal;
                border-radius: 20px;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 10px;
                margin-left: 3vw;
                width: 30vw;
                #caja-titulo{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    padding-right: 5px;
                    margin-bottom: 15px;
                    margin-top: 7px;
                    h2{
                        font-size: 30px;
                        font-family: $fte-ppal;
                        width: 20vw;
                        
                       
                    }
                    div{
                        display: flex;
                        justify-content: space-between;
                        width:6vw ;
                        align-items: center;
                        a{
                         text-decoration: none;
                            
                            i{
                                font-size: 1.4em;
                                color: $color-sec;
                                &:hover{
                                    font-size: 1.6em;
                                }
                            }
                        }
                        
                    }
                }
                #caja-precio{
                    h3{
                        font-family: $fte-ppal;
                        font-size: 40px;
                        margin-bottom: 10px;
                        color: $color-sec;
                    }
                    .medios-de-pago{
                        h4{
                            font-family: $fte-ppal;
                            margin-bottom: 8px;
                        }
                        img{
                            width: 60px;
                            height: 38px;
                            margin-right: 5px;
                        }
                    }
                }
                #caja-carrito{
                    margin-top: 25px;
                    display: flex;
                    flex-direction: column;
                    
                   
                    div{
                        display: flex;
                        justify-content: space-around;
                        width: 20vw;
                        #cantidad{
                            
                            width: 55px;
                            height: 35px;
                            font-family: $fte-ppal;
                            text-align: center;
                            font-weight: bold;
                            font-size: 16px;
                            border: 2px solid grey;
                            border-radius: 5px;
                        }
                        #color{
                            width: 120px;
                            height: 35px;
                            font-family: $fte-ppal;
                            font-size: 16px;
                            text-align: center;
                            font-weight: bold;
                            border: 2px solid grey;
                            border-radius: 5px;
                        }
                    }
                    #btn-carrito{
                        background-color: $color-sec;
                        color: white;
                        font-family: $fte-ppal;
                        font-size: 18px;
                        border-radius: 5px;
                        border: 0px ;
                        padding: 8px 18px;
                        align-self: center;
                        margin-top: 20px;
                        
                        
                        &:hover{
                            transform: scale(1.03);
                        }
                    }
                }
            }
        }
        .contenedor-dos{
            width:76vw ;
            display: flex;
            flex-direction: column;
            margin-top: 5px;
            
            
            #datos{
                display: flex;
                justify-content: space-around;
                border-bottom: 1px solid grey;
                padding-bottom: 8px;
            
                p{
                    font-size: 16px;
                    font-family: $fte-ppal;
                    
                }
            }
            #descripcion-producto{
            
                width: 68vw;
                align-self: center;
                padding-top: 35px;
                padding-bottom: 80px;
                h3{
                    font-family: $fte-ppal;
                    font-size:21px ;
                    margin-bottom: 15px;
                }
                p{
                    font-size: 15px;
                    font-family: $fte-ppal;
                    line-height: 25px; 
                    color: grey;
                }
            }

        }
        .contenedor-tres{
            font-family: $fte-ppal;
            display: grid;
                grid-template-columns: 80% 20%;
                grid-template-rows: 1fr 3fr 1fr;
                grid-template-areas: "titulo titulo"
                                    "mensaje cartel"
                                    "mensaje enviar";
                height: 270px;
                margin-bottom: 50px;
                width: 65%;
                margin-top: 25px;
            p{
                font-size: 22px;
                padding-bottom: 20px;
                grid-area: titulo;
                
            }

            #pregunta{
                grid-area: mensaje;
                width: 93%;
                outline: none;
                border: 2px solid $color-sec;
                border-radius: 30px 30px 0 30px;
                padding: 15px 10px;
                font-family: $fte-ppal;
                font-size: 16px;
            }
            div{
                grid-area: cartel;
                background-color:lightblue;
                height: fit-content;
                padding: 10px 15px;
                border-radius: 10px;
                #cartel{
                    font-size: 16px;
                    text-align: center;
                    padding-bottom: 0;
                   
                    }
                }
            button{
                grid-area: enviar;
                background-color: white;
                outline: none;
                border: 2px solid $color-sec;
                border-radius: 8px 8px 8px 0;
                &:hover{
                    transform: scale(1.05);
                    box-shadow: 1px 2px 1px grey;
                    cursor: pointer;
                }
                
                i{
                    color: $color-sec;
                    font-size: 1.6em;
                    
                }
                }                    
        

        }
    }
}
