$color-fondo:rgba(45, 123, 224, 0.192);
$fte-ppal: 'Poppins', sans-serif;
$color-ppal: rgb(45, 123, 224);
$color-sec:rgb(16, 61, 119);

section{
    display: flex;
    justify-content: center;
    height: fit-content;
    min-height: 90vh;
    padding-top: 80px;
    .container{
        background-color: #fff;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        height: 400px;
        font-family: $fte-ppal;
        box-sizing: border-box;
        box-shadow: 1px 2px 5px grey;
        .title{
            width: 100%;
            text-align: center;
            background-color: $color-ppal;
            border-radius: 20px 20px 0px 0px;
            display: block;
            padding: 20px 20px 15px 20px;
            color: white;
            box-sizing: border-box;
        }
        .row1{
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            width: 90%;
            .name{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 45%;
            }
            .lastname{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 45%;
            }
        }
        .row2{
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            width: 90%;
            .email{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 45%;
            }
            .cellphone{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 45%;
            }
        }
        .dni{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 32%;
        }
        .leyenda{
            color: $color-sec;
            font-size: 13px;
            align-self: flex-end;
            margin-bottom: -42px;
            margin-right: 5px;

        }
        button{
            background-color:$color-sec;
            font-size: 16px;
            color: white;
            font-family: $fte-ppal;
            border-radius: 20px;
            border: 0px ;
            box-sizing: border-box;
            padding: 7px 35px;
            align-self: center;
            width: 100%;
            border-radius: 0px 0px 20px 20px;
            &:hover{
                cursor: pointer;
                background-color: $color-ppal;
                
            }
        }
    }
}

.form-newuser{
    border: 2px solid $color-sec;
    border-radius: 7px 7px 7px 0;
    font-family: $fte-ppal;
    padding: 2px 10px;
    width: 60%;

}
label{
    font-weight: bold;
    color: $color-sec;
}