<header>
    
    <div class="logo">
        <a href="" title="Home">
            <img src="../../../assets/imagenes/logo.png" alt="log" id="logo_header" > 
        </a>    
    </div>
    <nav>
     <ul class="menu">
            <li><a href="">Categorías</a>
                 <ul class="submenu">
                    <li>Categoria 1</li>
                    <li>Categoria 2</li>
                    <li>Categoria 3</li>
                    <li>Categoria 4</li>
                </ul>
            </li>
             <li ><a href="">Ofertas</a></li>
            
        </ul>
    </nav> 
    
    <div class="buscador">
        <input class=barraDeBusqueda type="text" placeholder=" Buscar" id="buscador">
        <i class="fas fa-search" id="lupa"></i>
       
    </div>
    <section id="contenedor_iconos">
        <div class="iconos">
            <i class="fas fa-shopping-cart opciones"></i>
            <p>Carrito</p>
        </div>

        <div class="iconos">
            <i class="fas fa-bell opciones"></i>
            <p >Notificaciones</p>
        </div>
        
        <div class="iconos">
            <i class="fas fa-user-circle opciones"></i>
            <p>Mi Perfil</p>
        </div>
        
    </section>

</header>
  
