<header>
    
    <img src="../../../assets/imagenes/logo.png" alt="logo"> 
    <nav>
        <ul class="menu">
            <li><a href="" >Home</a></li>
            <li><a href="">Categorías</a>
                 <ul class="submenu">
                    <li><a href="">Categoria 1</a></li>
                    <li><a href="">Categoria 2</a></li>
                    <li><a href="">Categoria 3</a></li>
                    <li><a href="">Categoria 4</a></li>
                </ul>
            </li>
             <li ><a href="">Ofertas</a></li>
             <li ><a href="">Ayuda</a></li>
        </ul>
    </nav> 
    
    <div class="buscador">
        <input class=barraDeBusqueda type="search" placeholder=" Buscar">
        <i class="fas fa-search" ></i>
    </div>
    <div class="iconos">
        <i class="fas fa-shopping-cart opciones"></i>
        <i class="fas fa-bell opciones"></i>
        <i class="fas fa-user-circle opciones"></i>
    </div>
</header>
  
