<header>
    
    <img src="../../../assets/imagenes/logo.png" alt="logo" id="logo_header"> 
    <nav>

     <input type="file" accept=".png , .jpg" (change)="uploadFile($event) " id="boton_subir" >
     <button id="cambiar">Cargar</button>
     <button id="salir">Salir</button>
  
     <img src="{{urlImage | async}}" id="nuevo_logo">

     <ul class="menu">
            <li><a href="" >Home</a></li>
            <li><a href="">Categorías</a>
                 <ul class="submenu">
                    <li>Categoria 1</li>
                    <li>Categoria 2</li>
                    <li>Categoria 3</li>
                    <li>Categoria 4</li>
                </ul>
            </li>
             <li ><a href="">Ofertas</a></li>
             <li ><a href="">Ayuda</a></li>
        </ul>
    </nav> 
    
    <div class="buscador">
        <input class=barraDeBusqueda type="text" placeholder=" Buscar" id="buscador">
        <i class="fas fa-search" id="lupa"></i>
        <div id="resultados"></div>
    </div>
    <div class="iconos">
        <i class="fas fa-shopping-cart opciones"></i>
        <i class="fas fa-bell opciones"></i>
        <i class="fas fa-user-circle opciones"></i>
    </div>
</header>
  
