@import url("../node_modules/@fortawesome/fontawesome-free/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
$color-fondo:rgba(45, 123, 224, 0.192);
$fte-ppal: 'Poppins', sans-serif;
$color-ppal: rgb(45, 123, 224);
$color-sec:rgb(16, 61, 119);

%prop-botones-prod {
    background-color:$color-sec;
    font-size: 13px;
    color: white;
    font-family: $fte-ppal;
    border-radius: 5px;
    border: 0px ;
    margin-top:5px ;
    padding: 3px 10px;
}

*{
    padding: 0;
    margin: 0;
    
    
}

body{
    background-color:$color-fondo ;
    
}

/////// inicio estilos de las grillas de productos ////
.contenedorProductos{
    width: 70vw;
    background-color: #ffffff;
    font-family: $fte-ppal;
    position: absolute;
    right:2vw;
    margin-top: 6vh;
    border-radius: 7px;
    height:fit-content;
    h2{ 
        font-family: $fte-ppal;
        color: $color-sec;
        display: block;
        margin: 25px 0px 10px 17px;
        text-align: left;
    }
    .contenedor-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size:16px;
    .tarjetas{
  
        .items{
            width: 17vw;
            height: 330px;
            border-radius: 15px;
            border: 1px solid rgba(128, 128, 128, 0.363);
            margin:15px auto;
            padding: 15px 25px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3{
                text-align: center;
            }
            .botones{
             @extend %prop-botones-prod;
            }
            .descrip{
                font-size: 15px;
                text-align: center;
                color: grey;
            }
            .precio{
                font-weight: bold;
            }
            
            a{
             text-decoration: none;
             color: white;
             .vermas{
                 @extend %prop-botones-prod;
             }
            } 
        }
        }
    }
}
/////// fin estilos de las grillas de productos ////



 