@import url("../node_modules/@fortawesome/fontawesome-free/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
$color-fondo:rgba(45, 123, 224, 0.192);
$fte-ppal: 'Poppins', sans-serif;
$color-ppal: rgb(45, 123, 224);
$color-sec:rgb(16, 61, 119);

*{
    padding: 0;
    margin: 0;
    
}

body{
    background-color:$color-fondo ;

}

.botones{
    background-color:$color-sec;
    font-size: 13px;
    color: white;
    font-family: $fte-ppal;
    border-radius: 5px;
    border: 0px ;
    margin-top:5px ;
    padding: 3px 10px;
    
}
.descrip{
    font-size: 15px;
    text-align: center;
    color: grey;
}
.precio{
    font-weight: bold;
}

.items{
    width: 17vw;
    height: 330px;
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.363);
    margin:15px auto;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}