@import url("../node_modules/@fortawesome/fontawesome-free/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,600&display=swap');
$color-fondo:rgba(45, 123, 224, 0.192);
$fte-ppal: 'Poppins', sans-serif;
$fte-sec:'Open Sans', sans-serif;
$color-ppal: rgb(45, 123, 224);
$color-sec:rgb(16, 61, 119);

*{
    padding: 0;
    margin: 0;
}

body{
    background-color:$color-fondo ;  
}

app-banner{
.slider{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;

}

.carousel-cell {
    width: 100%; /* full width */
    height: 60vh; /* height of carousel */
    margin-right: 10px;
  }

  ///////////FLECHITAS ////////
  /* no circle */
  .flickity-button {
    background: rgba(255, 255, 255, 0.212);
    &:hover{
        background:none;
    }
  }
  /* big previous & next buttons */
  .flickity-prev-next-button {
    width: 30px;
    height: 30px;
  }
  /* icon color */
  .flickity-button-icon {
    fill:white;
  }
  /* hide disabled button */
  .flickity-button:disabled {
    display: none;
  }


}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
