$color-fondo:rgba(45, 123, 224, 0.192);
$fte-ppal: 'Poppins', sans-serif;
$color-ppal: rgb(45, 123, 224);
$color-sec:rgb(16, 61, 119);
%prop-botones-prod {
   background-color:$color-sec;
   font-size: 13px;
   color: white;
   font-family: $fte-ppal;
   border-radius: 0px 0px 15px 15px;
   border: 0px ;
   margin-top:5px ;
   padding: 3px 10px;
    width: 100%;
}

.items{
    width: 240px;
    height: 340px;
    border-radius: 15px;
    border: 1px solid rgba(128, 128, 128, 0.363);
    margin:15px 10px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 140px 55px 50px 30px 45px;
    justify-items: center;
    box-sizing: border-box;
    &:hover{
        transform: scale(1.05);
        border: 1px solid $color-sec;
        cursor: pointer;
    }
    &:hover > h3{
       color: $color-sec;  
   }
    img{
        width: 140px ;
        height: 140px;
       
    }
    i{
        justify-self: flex-end;
        position: relative;
        font-size: 1.2em;
        margin-right: 20px;
        margin-top: 10px;
    }
    h3{
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        padding-left: 5px;
        padding-right: 5px;
    }
    .botones{
     @extend %prop-botones-prod;
     
    }
    .descrip{
        font-size: 15px;
        text-align: center;
        color: grey;
        padding-left: 5px;
        padding-right: 5px;
    }
    .precio{
        font-weight: bold;
        font-size: 20px;
    }
    a{
     text-decoration: none;
     color: white;
     .vermas{
         @extend %prop-botones-prod;
     }
    } 
}

@media  screen and (max-width: 500px)  {

    .items{
        width: 70vw;
        height: 350px;
        padding: 15px 15px;
                             
        h3{
            font-size: 16px;
        }
       
        .descrip{
            font-size: 14px; 
        }
        
    }

}