
$fte-ppal: 'Poppins', sans-serif;
$fte-sec: 'Open Sans', sans-serif;
$color-ppal:#fff;
 $color-sec: rgb(87, 83, 83);
 $color-ter: rgb(172, 165, 165);
 $color-menues: rgb(243, 236, 236);


section{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    min-height: 75vh;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    box-sizing: border-box;
}
.container-left{
    box-sizing: border-box;
    background-color:$color-ppal;
    border-radius: 20px;
    width: 65%;
    padding: 30px 30px 60px 30px;
    #userInfo{
       box-shadow: 2px 4px 4px $color-sec;
        background-color: $color-menues;
        padding:25px 20px;
        h2{
            font-family: $fte-ppal;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: normal;
        }
        .rowData{
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
        p{
            font-family: $fte-sec;
            color: $color-sec;
            font-size:13px ;
            span{
                color: $color-ter;
            }
        }
    }
    }
    form{
        box-sizing: border-box;
      
        background-color: $color-menues;
        box-shadow: 2px 4px 5px $color-sec;
        .deliveryMethod{
            margin-top: 30px;
            padding-top: 15px;
           fieldset{
            // padding-top: 30px;
            // padding-bottom: 30px;
            
            legend{
                font-family: $fte-sec;
                font-size: 20px;
                padding-left: 20px;
                padding-right: 20px;
            }
            .box{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .deliver{
                width: 28%;
                padding-left: 40px;
                label{
                    font-size: 16px;
                    font-family: $fte-sec;
                }
                i{
                 color: $color-sec;
                 font-size: 2em;
                 margin-right: -20px;
                }   
            }
            .deliveryAdress{
                border-top: 1px solid grey;
                padding-top: 10px;
                margin-top: 20px;
                font-family: $fte-sec;
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                display: none;
                p{
                    font-size: 14px;
                }
                .inputAdress{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 7px;
                    
                    #deliveryAdress{
                        width: 40%;
                    }
                    #number{
                        width: 9%;
                    }
                    #dto{
                        width: 9%;
                    }
                    #CP{
                        width: 10%;
                    }
                    input{
                        border: 1px solid $color-sec;
                        font-family: $fte-sec;
                        padding: 2px 10px;
                        width: 60%;
                        outline: none;
                        &:focus{
                            border: 2px solid $color-sec;
                        }
                    }
                }
               
            }
            .pick-up{
                width: 47%;
                margin-top: 30px;
                padding-left: 40px;
                label{
                    font-size: 16px;
                    font-family: $fte-sec;
                }
                i{
                 color: $color-sec;
                 font-size: 2em;
                 margin-right: -20px;
                } 
                              
            }
            .adress1{
                display: none;
                border-top: 1px solid grey;
                margin-top: 15px;
                padding-top: 10px;
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                span{
                    color:grey;
                    display: block;
                    font-family: $fte-sec;
                    font-size: 13px;
                    padding-left: 50px;
                }
            }
           }
        }
        .paymentMethod{
            margin-top: 30px;
            fieldset{
                padding-top: 30px;
                padding-bottom: 20px;
                legend{
                    font-family: $fte-sec;
                    font-size: 20px;
                    padding-left: 20px;
                    padding-right: 20px;
                }
                .paypal-box{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 25%;
                    margin-bottom: 10px;
                    padding-left: 40px;
                    img{
                        width: 90px;
                        height: 43px;
                    }
                }
                .cash-box{
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    padding-left: 40px;
                    width: 58%;
                    display: none;
                    div{
                        display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 29%;
                    label{
                        img{
                        width: 70px;
                        height: 60px;
                     }
                    }
                    }
                    p{
                        font-family: $fte-sec;
                        font-size: 13px;
                        color:grey;
                    }
                }
            }
        }
    }
}

.container-right{
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 28%;
    height: fit-content;
    margin-top: 45px;
    box-shadow: 2px 4px 4px $color-sec;
    .summary{
        font-family: $fte-sec;
        display: flex;
        flex-direction: column;
        h2{
            font-family: $fte-ppal;
            text-transform: uppercase;
            color: $color-sec;
            font-size: 20px;
            border-bottom: 1px solid rgb(190, 187, 187);
            margin-bottom: 5px ;
            margin-top: 14px;
            display: block;
            padding: 0px 25px 0px 25px;
            &:hover{
                cursor: default;
            }
        }
        #subtotal-summary,#total-summary{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 25px;
            &:hover{
                cursor: default;
            }
        }
        #subtotal-summary{
            color: $color-ter;
            font-size: 16px;
            
        }
        #total-summary{
            font-weight: bolder;
            font-size: 19px;
            background-color:$color-menues;
           
        }
        .coupon{
            border: 2px solid $color-sec;
            border-radius: 10px;
            width: 85%;
            align-self: center;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            box-sizing: border-box;
            padding: 5px 10px;
            margin-top: 30px;
            margin-bottom: 20px;
            outline: none;
            i{
                color: $color-sec;
                transform: rotate(-45deg);
            }
            span{
                font-size: 13px;
                font-weight: bolder;
                color: $color-sec;
            }
            &:hover{
                cursor: pointer;
                background-color: $color-sec;
            }
            &:hover>i{
                color: white;
            }
            &:hover>span{
                color: white;
                font-weight: normal;
            }

            
        }

    }
    button{
        background-color:rgb(34, 33, 33);
        font-size: 16px;
        color: white;
        font-family: $fte-ppal;
        border-radius: 0px 0px 15px 15px;
        border: 0px ;
        margin-top:5px ;
        box-sizing: border-box;
        width: 100%;
        padding: 4px 25px;
        align-self: flex-end;
        outline: none;
        &:hover{
            font-size: 16px;
            cursor: pointer;
            background-color:$color-sec;
        }
    }
}