<section>
    <div class="container-left">
        <div id="userInfo">
            <h2>Mis Datos</h2>
            <div class="rowData">
            <p> Nombre : <span id="nameData"> </span></p>
            <p> E-mail : <span id="emailData"> </span></p>
            <p> Teléfono : <span id="cellphoneData"> </span></p>
        </div>
        </div>
        <form action="">
            <div class="deliveryMethod">
                <fieldset>
                    <legend>Forma de entrega</legend>
                    <div class="deliver box">
                        <input type="radio" name="deliver" id="deliver">
                        <span><i class="fas fa-truck"></i> </span>
                        <label for="deliver">Envío </label>
                    </div>
                    <div class="deliveryAdress ">
                        <p>Ingrese su dirección de entrega</p>
                        <div class="inputAdress">
                        <input type="text" required id="deliveryAdress" placeholder="Calle">
                        <input type="number" required id="number" placeholder="nro.">
                        <input type="number" required id="dto" placeholder="dto">
                        <input type="number" required id="CP" placeholder="CP">
                    </div>
                        <!-- <select name="ciudad" id="ciudad">
                            <option value="uno" selected>-Seleccione una ciudad-</option>
                            <option value="value1"> Opcion 1</option>
                            <option value="value2"> Opcion 2</option>
                            <option value="value3"> Opcion 3</option>
                        </select> -->
                    </div>
                    <div class="pick-up box">
                        <input type="radio" name="entrega" id="entrega">
                        
                            <i class="fas fa-store"></i>
                            <label for="entrega">Retirá en nuestro local</label>
                    </div>
                    <div class="adress1">
                        <span>Av Emilio Olmos 20 - local 53, CP5000. Córdoba, Argentina</span>
                    </div>
                </fieldset>
            </div>
            <div class="paymentMethod">
                <fieldset>
                    <legend>Método de Pago</legend>
                    <div class="paypal-box">
                        <input type="radio" name="paypal" id="paypal">
                        <label for="paypal"><img src="../../../../../assets/imagenes/paypal.png" alt=""></label>
                    </div>
                    <div class="cash-box">
                        <div>
                        <input type="radio" name="cash" id="cash">
                        
                            <label for="cash"><img src="../../../../../assets/imagenes/cash.png" alt=""></label>
                        </div>
                            <p>Pago en efectivo al momento de retirar</p>
                        
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
    <div class="container-right">
        <div class="summary">
            <h2>Resumen de compra</h2>
            <div class="products">


            </div>
            <!-- <div id="subtotal-summary"><span>Subtotal:</span> <span> ${{totalPrice}}</span> </div>
            <div id="total-summary"><span>Total:</span> <span>${{totalPrice}} </span> </div> -->
            
          </div>
          <button [routerLink]="['/pre-checkout']">CONTINUAR</button>
    </div>
</section>