$color-fondo:rgba(45, 123, 224, 0.192);
$fte-ppal: 'Poppins', sans-serif;
$color-ppal: rgb(45, 123, 224);
$color-sec:rgb(16, 61, 119);

section{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    min-height: 75vh;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    box-sizing: border-box;
}
.container-left{
    box-sizing: border-box;
    background-color:#fff;
    border-radius: 20px;
    width: 65%;
    padding: 30px 30px 60px 30px;
    margin-top: 40px;
    #userInfo{
        border-radius: 0px 60px 60px 0px;
        background-color: $color-fondo;
        padding:25px 20px;
        h2{
            font-family: $fte-ppal;
            font-size: 20px;
            font-weight: normal;
        }
        .rowData{
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
        p{
            font-family: $fte-ppal;
            color: $color-ppal;
            font-size:13px ;
            span{
                color: grey;
            }
        }
    }
    }
    form{
        .deliveryMethod{
            margin-top: 30px;
           fieldset{
            padding-top: 30px;
            padding-bottom: 30px;
            legend{
                font-family: $fte-ppal;
                font-size: 20px;
                padding-left: 20px;
                padding-right: 20px;
            }
            .box{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .deliver{
                width: 18%;
                padding-left: 40px;
                label{
                    font-size: 16px;
                    font-family: $fte-ppal;
                }
                i{
                 color: $color-sec;
                 font-size: 2em;
                 margin-right: -20px;
                }   
            }
            .deliveryAdress{
                border-top: 1px solid grey;
                padding-top: 10px;
                margin-top: 20px;
                font-family: $fte-ppal;
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                display: none;
                p{
                    font-size: 14px;
                }
                .inputAdress{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 7px;
                    
                    #deliveryAdress{
                        width: 40%;
                    }
                    #number{
                        width: 7%;
                    }
                    #dto{
                        width: 6%;
                    }
                    #CP{
                        width: 7%;
                    }
                    input{
                        border: 2px solid $color-sec;
                        border-radius: 7px 7px 7px 0;
                        font-family: $fte-ppal;
                        padding: 2px 10px;
                        width: 60%;
                    }
                }
               
            }
            .pick-up{
                width: 37%;
                margin-top: 30px;
                padding-left: 40px;
                label{
                    font-size: 16px;
                    font-family: $fte-ppal;
                }
                i{
                 color: $color-sec;
                 font-size: 2em;
                 margin-right: -20px;
                } 
                              
            }
            .adress1{
                display: none;
                border-top: 1px solid grey;
                margin-top: 15px;
                padding-top: 10px;
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                span{
                    color:grey;
                    display: block;
                    font-family: $fte-ppal;
                    font-size: 13px;
                    padding-left: 50px;
                }
            }
           }
        }
        .paymentMethod{
            margin-top: 30px;
            fieldset{
                padding-top: 30px;
                padding-bottom: 20px;
                legend{
                    font-family: $fte-ppal;
                    font-size: 20px;
                    padding-left: 20px;
                    padding-right: 20px;
                }
                .paypal-box{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 18.5%;
                    margin-bottom: 10px;
                    padding-left: 40px;
                    img{
                        width: 90px;
                        height: 43px;
                    }
                }
                .cash-box{
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    padding-left: 40px;
                    width: 53%;
                    display: none;
                    div{
                        display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 29%;
                    label{
                        img{
                        width: 70px;
                        height: 60px;
                     }
                    }
                    }
                    p{
                        font-family: $fte-ppal;
                        font-size: 13px;
                        color:grey;
                    }
                }
            }
        }
    }
}

.container-right{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 28%;
    height: fit-content;
    margin-top: 40px;
    box-sizing: border-box;
    .summary{
        font-family: $fte-ppal;
        display: flex;
        flex-direction: column;
        h2{
            color: $color-sec;
            font-size: 20px;
            border-bottom: 1px solid rgb(190, 187, 187);
            margin-bottom: 5px ;
            margin-top: 14px;
            display: block;
            padding: 0px 25px 0px 25px;
            &:hover{
                cursor: default;
            }
        }
        #subtotal-summary,#total-summary{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 25px;
            &:hover{
                cursor: default;
            }
        }
        #subtotal-summary{
            color: grey;
            font-size: 15px;
            
        }
        #total-summary{
            font-weight: bolder;
            font-size: 19px;
            background-color:rgba(221, 210, 210, 0.692);
           
        }
       

    }
    button{
        background-color:$color-sec;
        font-size: 15px;
        color: white;
        font-family: $fte-ppal;
        border-radius: 0px 0px 20px 20px;
        border: 0px ;
        margin-top:5px ;
        box-sizing: border-box;
        width: 100%;
        padding: 3px 25px;
        align-self: flex-end;
        outline: none;
        &:hover{
            font-size: 16px;
            cursor: pointer;
        }
    }
}