section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 75vh;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-left {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  border-radius: 20px;
  width: 65%;
  padding: 30px 30px 60px 30px;
  margin-top: 40px;
}

.container-left #userInfo {
  border-radius: 0px 60px 60px 0px;
  background-color: rgba(45, 123, 224, 0.192);
  padding: 25px 20px;
}

.container-left #userInfo h2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: normal;
}

.container-left #userInfo .rowData {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-left #userInfo .rowData p {
  font-family: "Poppins", sans-serif;
  color: #2d7be0;
  font-size: 13px;
}

.container-left #userInfo .rowData p span {
  color: grey;
}

.container-left form .deliveryMethod {
  margin-top: 30px;
}

.container-left form .deliveryMethod fieldset {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container-left form .deliveryMethod fieldset legend {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.container-left form .deliveryMethod fieldset .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-left form .deliveryMethod fieldset .deliver {
  width: 18%;
  padding-left: 40px;
}

.container-left form .deliveryMethod fieldset .deliver label {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.container-left form .deliveryMethod fieldset .deliver i {
  color: #103d77;
  font-size: 2em;
  margin-right: -20px;
}

.container-left form .deliveryMethod fieldset .deliveryAdress {
  border-top: 1px solid grey;
  padding-top: 10px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.container-left form .deliveryMethod fieldset .deliveryAdress p {
  font-size: 14px;
}

.container-left form .deliveryMethod fieldset .deliveryAdress .inputAdress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7px;
}

.container-left form .deliveryMethod fieldset .deliveryAdress .inputAdress #deliveryAdress {
  width: 40%;
}

.container-left form .deliveryMethod fieldset .deliveryAdress .inputAdress #number {
  width: 7%;
}

.container-left form .deliveryMethod fieldset .deliveryAdress .inputAdress #dto {
  width: 6%;
}

.container-left form .deliveryMethod fieldset .deliveryAdress .inputAdress #CP {
  width: 7%;
}

.container-left form .deliveryMethod fieldset .deliveryAdress .inputAdress input {
  border: 2px solid #103d77;
  border-radius: 7px 7px 7px 0;
  font-family: "Poppins", sans-serif;
  padding: 2px 10px;
  width: 60%;
}

.container-left form .deliveryMethod fieldset .pick-up {
  width: 37%;
  margin-top: 30px;
  padding-left: 40px;
}

.container-left form .deliveryMethod fieldset .pick-up label {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.container-left form .deliveryMethod fieldset .pick-up i {
  color: #103d77;
  font-size: 2em;
  margin-right: -20px;
}

.container-left form .deliveryMethod fieldset .adress1 {
  display: none;
  border-top: 1px solid grey;
  margin-top: 15px;
  padding-top: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container-left form .deliveryMethod fieldset .adress1 span {
  color: grey;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  padding-left: 50px;
}

.container-left form .paymentMethod {
  margin-top: 30px;
}

.container-left form .paymentMethod fieldset {
  padding-top: 30px;
  padding-bottom: 20px;
}

.container-left form .paymentMethod fieldset legend {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.container-left form .paymentMethod fieldset .paypal-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18.5%;
  margin-bottom: 10px;
  padding-left: 40px;
}

.container-left form .paymentMethod fieldset .paypal-box img {
  width: 90px;
  height: 43px;
}

.container-left form .paymentMethod fieldset .cash-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 40px;
  width: 53%;
}

.container-left form .paymentMethod fieldset .cash-box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 29%;
}

.container-left form .paymentMethod fieldset .cash-box div label img {
  width: 70px;
  height: 60px;
}

.container-left form .paymentMethod fieldset .cash-box p {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: grey;
}

.container-right {
  background-color: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 28%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-right .summary {
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-right .summary h2 {
  color: #103d77;
  font-size: 20px;
  border-bottom: 1px solid #bebbbb;
  margin-bottom: 5px;
  margin-top: 14px;
  display: block;
  padding: 0px 25px 0px 25px;
}

.container-right .summary h2:hover {
  cursor: default;
}

.container-right .summary #subtotal-summary, .container-right .summary #total-summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 25px;
}

.container-right .summary #subtotal-summary:hover, .container-right .summary #total-summary:hover {
  cursor: default;
}

.container-right .summary #subtotal-summary {
  color: grey;
  font-size: 15px;
}

.container-right .summary #total-summary {
  font-weight: bolder;
  font-size: 19px;
  background-color: rgba(221, 210, 210, 0.692);
}

.container-right button {
  background-color: #103d77;
  font-size: 15px;
  color: white;
  font-family: "Poppins", sans-serif;
  border-radius: 0px 0px 20px 20px;
  border: 0px;
  margin-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 3px 25px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  outline: none;
}

.container-right button:hover {
  font-size: 16px;
  cursor: pointer;
}
/*# sourceMappingURL=checkout.component.css.map */