
$fte-ppal: 'Poppins', sans-serif;
$fte-sec: 'Open Sans', sans-serif;
$color-ppal:#fff;
 $color-sec: rgb(87, 83, 83);
 $color-ter: rgb(172, 165, 165);
 $color-menues: rgb(243, 236, 236);


%titulo-h2{
    font-family: $fte-ppal;
    text-transform: uppercase;
    color: $color-sec;
    align-self: flex-start;
    display: block;
    border-bottom: 1px solid grey;
    width: 100%;
    padding-bottom: 5px;
}

%cont-input{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

%i{
    position: absolute;
    padding: 13px;
    font-size: 1.1em;
    color: $color-ter;
}
%campo-user{
    margin-top:7px;
    height: 44px;
    width: 100%;
    font-family: $fte-sec;
    font-size: 15px;
    padding-left: 40px;
    box-sizing: border-box;
    &:focus{
        outline: none;
        border:1px solid rgb(180, 170, 170) ;
    }
}
%contrasena{
    height: 44px;
     width: 100%;
    font-family: $fte-sec;
    font-size: 15px;
     padding-left: 40px;
    box-sizing: border-box;  
    &:focus{
    outline: none;
    border:1px solid rgb(180, 170, 170) ;
     }
}

section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .fondo{
        background: linear-gradient(to bottom, $color-sec ,$color-ter,$color-menues,white);
        height: 80vh;
        width: 100%;
        img{
            width: 200px;
            height: 60px;
            position: absolute;
            right: 50px;
            top: 20px;
        }
    }
    .contenedor-form{
        padding-top: 20px;
        padding-bottom: 30px;
        background: $color-menues;
        display: flex;
        border-radius: 15px;
        flex-direction: column;
        align-items: center;
        margin-top: -460px;
        width: 420px;
        box-shadow: 2px 4px 10px grey;

        .campos-inicio-s{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 80%;
            margin-bottom: 10px;
            height: 300px;
            h2{
            @extend %titulo-h2;
            
            }
            .campo{
                @extend %cont-input;
                i{
                   @extend %i;
                  
                }
                .fa-user{
                   top: 7.1px;
                }
                .fa-eye, .fa-eye-slash{
                   margin-left: 86%;
                }
                .fa-eye-slash{
                    visibility: hidden;
                }
                #username{
                  @extend %campo-user; 
                  &:focus~i{
                      color: rgb(34, 33, 33);
                  }                  
                }
                #password{
                @extend %contrasena;
                &:focus~.fa-lock{
                    color: rgb(34, 33, 33);
                }
                }
            }
            
           #btn-entrar{
               margin-top: 5px;
               margin-bottom: 2px;
           }
           
            p{
                align-self: flex-start;
                font-family: $fte-sec;
                color: rgb(34, 33, 33);
                font-size:12px ;
                margin-top: -5px;
                margin-bottom: 5px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .separacion{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            width: 80%;
            p{
                margin-bottom: 0px;
                display: block;
                color: rgb(34, 33, 33);
            font-size: 17px;
            }
            span{
                display: block;
                border-bottom: 1px solid $color-sec;
                width: 42%;
                
            }   
        }
        .social-media{
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 90px;
            margin-top: 15px;
            button{
                width: 100%;
                height: 40px;
                // border-radius: 30px;
                border: none;
                outline: none;
                &:hover{
                    box-shadow: 1px 2px 2px gray;
                }
                a{
                    text-decoration: none;
                    color: white;
                    font-family: $fte-sec;
                    font-size:15px ;
                    display: block;
                    width: 100%;
                    
                    i{
                        margin-right: 10px;
                    }
                    
                }

            }
            .btn1{
                background-color: #3b5998;
            }
            .btn2{
                background-color: #db4a39;
            }
        }
        
        #contenedor-forgot-psw{
            
             width: 80%;
             margin-bottom: 10px;
            display: none;
            height: 230px;

            h2{
                @extend %titulo-h2;
                font-size: 23px;
                display: flex;
                align-items: center;
                i{
                    font-size: 0.7em;
                    color:rgb(34, 33, 33);
                    
                    margin-right: 8px;
                }
            }
            p{
                font-family: $fte-sec;
                color: rgb(34, 33, 33);
                margin-bottom: -15px;
            }
            .campo{
                @extend %cont-input;
                i{
                @extend %i;                    
                }
                .fa-user{
                   top: 7.1px;
                }
                #emailPsw{
                    @extend %campo-user; 
                    &:focus~i{
                        color: rgb(34, 33, 33);
                    }                    
                }
                
            }
        }
        

    }
    .footer-is{
        width:100% ;
        display: flex;
        justify-content:flex-end;
       position: absolute;
       bottom: 0px;
       background-color: black;
        a{
          padding-top: 2px;
          padding-bottom: 3px;
          padding-right: 40px;
            text-decoration: none;
            color: $color-ppal;
            font-family: $fte-sec;
            font-size: 13px;          
        }
    }
}

.boton{
    width: 100%;
    height: 40px;
    background-color:rgb(34, 33, 33);
    color: white;
    font-family:$fte-ppal;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    &:hover{
        box-shadow: 1px 2px 2px gray;
        background-color: $color-sec;
    }
     outline: none;
    
}
.primer{
    margin-top: 15px;
}

// @media  screen and (max-width: 500px)  {
// section{
//     .fondo{
//         display: flex;
//         justify-content: center;
//         img{
//             width: 100px;
//             height: 30px;
//          margin-top: 60px;
//          z-index: 4;
//         }
//     }
//     .contenedor-form{
//         padding-top: 20px;
//         padding-bottom: 40px;
        
//         margin-top: -165px;
//         width: 85vw;
        
        
//         .campos-inicio-s{
           
//             height: 250px;
//             h2{
//             margin-bottom: -15px;
//             font-size: 19px;
//             }
//             .campo{
//                 @extend %cont-input;
                
//                 .fa-eye{
//                    margin-left: 80%;
//                 }
//                 #username{
//                   @extend %campo-user; 
//                   //height: 38px;                  
//                 }
//                 #password{
//                 @extend %contrasena;
//                 //height: 38px;
//                 }
//             }
            
//            #btn-entrar{
//                margin-top: 5px;
//                margin-bottom: 2px;
//            }
           
//             p{
//                 align-self: flex-start;
//                 font-family: $fte-ppal;
//                 color:$color-ppal;
//                 font-size:12px ;
//                 margin-top: -5px;
//                 margin-bottom: 5px;
//                 &:hover{
//                     cursor: pointer;
//                 }
//             }
//         }
//         .separacion{
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
            
//             width: 80%;
//             p{
//             color: grey;
//             font-size: 17px;
//             }
//             span{
//                 display: block;
//                 border-bottom: 1px solid grey;
//                 width: 42%;
                
//             }   
//         }
//         .social-media{
//             width: 80%;
//             display: flex;
//             flex-direction: column;
//             justify-content: space-between;
//             align-items: center;
//             height: 90px;
//             margin-top: 15px;
//             button{
//                 width: 100%;
//                 height: 40px;
//                 border-radius: 30px;
//                 border: none;
//                 outline: none;
//                 &:hover{
//                     box-shadow: 1px 2px 2px gray;
//                 }
//                 a{
//                     text-decoration: none;
//                     color: white;
//                     font-family: $fte-ppal;
//                     font-size:15px ;
//                     display: block;
//                     width: 100%;
                    
//                     i{
//                         margin-right: 10px;
//                     }
                    
//                 }

//             }
//             .btn1{
//                 background-color: #3b5998;
//             }
//             .btn2{
//                 background-color: #db4a39;
//             }
//         }
//         #contenedor-registrarse{
//             @extend %gral;
//             height: 300px;
//             display: none;

//             h2{
//                 @extend %titulo-h2;
//                 display: flex;
//                 align-items: center;
//                 i{
//                     font-size: 0.7em;
//                     color: grey;
//                     margin-right: 8px;
//                 }
//             }
//             .campo{
//                 @extend %cont-input;
//                 i{
//                 @extend %i;                    
//                 }
//                 .fa-user{
//                    top: 7.1px;
//                 }
//                 #email{
//                     @extend %campo-user;                     
//                 }
//                 #new-pasw{
//                     @extend %contrasena;
//                 }
//                 .fa-eye{
//                     margin-left: 86%;
//                  }
//             }
//         }
//         #msje-registro{
//             font-family: $fte-ppal;
//             color: grey;
//             text-align: center;
//             display: none;
//         }
//         #contenedor-forgot-psw{
//             @extend %gral;
//             display: none;
//             height: 230px;

//             h2{
//                 @extend %titulo-h2;
//                 display: flex;
//                 align-items: center;
//                 i{
//                     font-size: 0.7em;
//                     color: grey;
//                     margin-right: 8px;
//                 }
//             }
//             p{
//                 font-family: $fte-ppal;
//                 color: gray;
//             }
//             .campo{
//                 @extend %cont-input;
//                 i{
//                 @extend %i;                    
//                 }
//                 .fa-user{
//                    top: 7.1px;
//                 }
//                 #emailPsw{
//                     @extend %campo-user;                     
//                 }
                
//             }
//         }
        

//     }
//     .footer-is{
//         width:95% ;
//         a{   
//             font-size: 11px;     
//         }
//     }
// }

// }