<section>
    <div class="fondo">
        <a [routerLink]="['/home']" title="Home">
            <img src="../../assets/imagenes/logo-blanco.png" alt="logo">
        </a>
    </div>
    <form class="contenedor-form" id="cont-form" autocomplete="off" [formGroup]="formLogin" (ngSubmit)="iniciarSesion()">
        <!--inicio form iniciar sesion-->
        <div class="campos-inicio-s" id="is-uno">
            <h2>Inicio de Sesión</h2>
            <div class="campo primer">
                <input type="text" id="username" placeholder="Email" formControlName="email" [class.is-invalid]="emailInvalido">
                <i class="fas fa-user" id="icono-user"></i>
            </div>
            <span *ngIf="emailInvalido" class="text-rojo"><small>Ingrese su email</small></span>

            <div class="campo">
                <input type="password" id="password" placeholder="Contraseña" formControlName="password" [class.is-invalid]="passwordInvalida">
                <i class="fas fa-lock" id="icono-lock"></i>
                <i class="far fa-eye" id="show" (click)="mostrarPsw()"></i>
                <i class="far fa-eye-slash" id="hide" (click)="mostrarPsw()"></i>
            </div>
            <span *ngIf="passwordInvalida" class="text-rojo"><small>Ingrese su contraseña</small></span>

            <p id="recuperar">¿Olvidaste tu contraseña?</p>
            <button type="submit" id="btn-entrar" class="boton">Entrar</button>
            <button type="button" id="btn-registrar" class="boton" [routerLink]="['/user-sign-up']">Registrarme</button>

        </div>
        <div class="separacion" id="is-dos">
            <span class="raya"></span>
            <p>o</p>
            <span class="raya"></span>
        </div>
        <div class="social-media" id="is-tres">
            <button class="btn1">
                <a [href]="FACEBOOK_AUTH_URL"><i class="fab fa-facebook-f"></i> Iniciá sesión con Facebook</a>
            </button>

            <button class="btn2">
                <a [href]="GOOGLE_AUTH_URL"><i class="fab fa-google"></i> Iniciá sesión con Google</a>
            </button>
        </div>
        <!--FIN form iniciar sesion-->


        <!--inicio form Olvide contrasena-->
        <form id="contenedor-forgot-psw" [formGroup]="formOlvidePass" (ngSubmit)="enviarRecuperarPassword()">
            <h2> <i class="fas fa-arrow-circle-left" id="back"></i>Recuperar contraseña</h2>
            <p>Te enviaremos un mail a tu cuenta .</p>
            <div class="campo">
                <input [class.is-invalid]="emailInvalidoPass" type="email" id="emailPsw" placeholder="Correo electrónico" formControlName="email">
                <i class="fas fa-envelope" id="icono-env-psw"></i>
            </div>
            <span *ngIf="emailInvalidoPass" class="text-rojo"><small>Ingrese su email</small></span>

            <button type="submit" id="btn-recover-psw" class="boton">Enviar</button>

        </form>
        <!--FIN form Olvide contrasena-->


    </form>
    <div class="footer-is">
        <a href="https://www.wantfrom.es/">Powered by Wantfrom</a>
    </div>

</section>